{{#section 'js'}}
<script>
    performAjaxQuery();
    $(document).ready(function() {
        // Event handler for the Chờ cấp phép button
        $(document).on('click', '.btn-approve-license > .btn-warning', function() {
            // Show the confirmation modal
            $('.delete-confirm').removeClass('d-none');

            const licenseId = $(this).data('id');
            console.log(licenseId)
             const approveButton = $(this);
            $('.btn-yes').click(function() {
                console.log("click")
               
                $.ajax({
                    type: 'PATCH', // Change the method based on your API
                    url: `/ads/request/approve-license/${licenseId}`,
                    success: function(response) {
                        $('.delete-confirm').addClass('d-none');
                        $('.create-confirm').removeClass('d-none');

                        console.log(approveButton)
                        approveButton.removeClass('btn-readonly').addClass('btn-disabled').text("Đã cấp phép");
                        approveButton.find('i').remove();
                        


                    },
                    error: function(error) {
                    }
                });
            });

            $('.btn-no').click(function() {
                $('.delete-confirm').addClass('d-none');
            });
        });

        $('.btn-success').click(function() {
            $('.create-confirm').addClass('d-none');
        });
    });
     $(document).on('click', '#deleteBtn', function()  {
        console.log("hihi")
        const id = $(this).data('id');
        console.log(id);
        const deleteButton = $(this);
        // Show the confirmation dialog
        $('.delete-confirm').removeClass('d-none');
        // Bind the click event for the "Yes" button only once
        $('.btn-yes').one('click', function () {
            // Make the AJAX request to delete the ad
            $.ajax({
                type: 'DELETE',
                url: `/ads/request/delete/${id}`,
            success: function () {
                // Hide the confirmation dialog
                 deleteButton.parent().parent().remove();
                    $('.delete-confirm').addClass('d-none');
                
                $('.create-confirm').removeClass('d-none');
                
            },
            error: function () {
            }
        });
    });

    // Bind the click event for the "No" button
    $('.btn-no').click(function () {
        // Hide the confirmation dialog
        $('.delete-confirm').addClass('d-none');
    });

    // Bind the click event for the "OK" button in the success message
    $('.btn-success').click(function () {
        // Hide the success message
        $('.create-confirm').addClass('d-none');
    });

});

     const District1 = [
                'Phường Bến Nghé',
                'Phường Bến Thành',
                'Phường Cầu Kho',
                'Phường Cầu Ông Lãnh',
                'Phường Cô Giang',
                'Phường Đa Kao',
                'Phường Nguyễn Cư Trinh',
                'Phường Nguyễn Thái Bình',
                'Phường Phạm Ngũ Lão',
                'Phường Tân Định'
              ];
          const District5 = [
                'Phường 1   ',
                'Phường 2',
                'Phường 3',
                'Phường 4',
                'Phường 5',
                'Phường 6',
                'Phường 7',
                'Phường 8',
                'Phường 9',
                'Phường 10',
                'Phường 11',
                'Phường 12',
                'Phường 13',
                'Phường 14',
                'Phường 15',
              ];  
            
    $(document).ready(function() {
    const authUserRole = '{{authUser.role}}';
    const authUserDistrict = '{{authUser.district}}';
    const authUserWard = '{{authUser.ward}}';

    function addLicenseColumn(isLicensed, licenseId) {
        console.log(isLicensed, licenseId)
        if (authUserRole === 'Cán bộ Sở') {
            const newColumn = `<td class="text-center">
                <button type="button" class="btn btn-sm btn-approve-license">
                    <a class="btn btn-sm btn-license ${isLicensed ? 'btn-disabled' : ' btn-readonly'}"  data-id="${licenseId}">
                        ${isLicensed ? 'Đã cấp phép' : '<i class="bi bi-hand-index-fill"></i> Chờ cấp phép'}
                    </a>
                </button>
            </td>`;

            $(this).append(newColumn);
        } else {
            const newColumn = `<td class="text-center">
                 <a class="btn btn-sm ${isLicensed ? 'btn-disabled' : 'btn-readonly'}">
                    ${isLicensed ? 'Đã cấp phép' : 'Chờ cấp phép'}
                </a>
            </td>
            
            <td class="text-center">
                ${isLicensed ?
                    '<i class="bi bi-check-circle-fill h4" style="color: #8C8C8C"></i>'
                    :
                    `<button type="button" id="deleteBtn" class="btn btn-sm btn-table" data-id="${licenseId}">
                        <i class="bi bi-trash-fill h4" style="color: #8C8C8C"></i>
                    </button>`}
            </td>`;

            $(this).append(newColumn);
        }
    }

    function updateDropdownContent() {
        const districtSelect = $('#districtSelect');
        const wardSelect = $('#wardSelect');

        districtSelect.empty();
        wardSelect.empty();

        if (authUserRole === 'Cán bộ Sở') {
            const allDistricts = ['Quận 1', 'Quận 5'];
            const allWards = [...District1, ...District5];

            districtSelect.append(`<option selected>Quận</option>`);
            allDistricts.forEach(district => {
                districtSelect.append(`<option value="${district}">${district}</option>`);
            });

            wardSelect.append(`<option selected>Phường</option>`);
        } else if (authUserRole === 'Cán bộ Quận') {
            districtSelect.append(`<option value="${authUserDistrict}" selected>${authUserDistrict}</option>`);
            let allWards;

            if (authUserDistrict === 'Quận 1') {
                allWards = District1;
            }

            if (authUserDistrict === 'Quận 5') {
                allWards = District5;
            }

            wardSelect.append(`<option selected>Phường</option>`);
            allWards.forEach(ward => {
                wardSelect.append(`<option value="${ward}">${ward}</option>`);
            });
        } else if (authUserRole === 'Cán bộ Phường') {
            console.log(authUserWard);
            districtSelect.append(`<option value="${authUserDistrict}" selected>${authUserDistrict}</option>`);
            wardSelect.append(`<option value="${authUserWard}" selected>${authUserWard}</option>`);
        }
    }

    // Loop through each row in the table
    $('#requestAdsTable tbody tr').each(function(index) {
        const isLicensed = $(this).data('islicensed');
        const licenseId = $(this).data('id');
        console.log( $(this).data())
        // Add the license column dynamically
        addLicenseColumn.call(this, isLicensed, licenseId);
    });

    // Update dropdown content
    updateDropdownContent();
});

    var pageNumber = 1;
    $('#districtSelect, #wardSelect').change(function() {
         const authUserRole = '{{authUser.role}}';
         if (authUserRole === 'Cán bộ Sở') {
           const selectedDistrict = $('#districtSelect').val();
           
          if (selectedDistrict === 'Quận 1') {
              populateWards(District1);
          } else if (selectedDistrict === 'Quận 5') {
              populateWards(District5);
          } else {
              populateWards([]);
          }
         }
        function populateWards(wards) {
            const wardSelect = $('#wardSelect');
            
            // Save the currently selected ward before clearing the options
            const selectedWard = wardSelect.val();

            wardSelect.empty();
            wardSelect.append('<option selected>Phường</option>');

            wards.forEach(ward => {
                wardSelect.append(`<option value="${ward}">${ward}</option>`);
            });

            // Set the previously selected ward if it exists in the new options
            if (wards.includes(selectedWard)) {
                wardSelect.val(selectedWard);
            }
        }

        pageNumber = 1;
        $('a.page-link').each(function(){
            if(+this.innerText === pageNumber){
                $(this).addClass('active');
            }
            else{
                $(this).removeClass('active');
            }
        });
        performAjaxQuery();
    })

    function resetPages(attr){
        const totalPages = $('a.page-link').length - 2;
        console.log("Press page")
        if(attr.innerText === 'Trước'){
            if(pageNumber > 1){
                pageNumber--;
                performAjaxQuery(pageNumber);
            }
        }
        else if(attr.innerText === 'Sau'){
            if(pageNumber < totalPages){
                pageNumber++;
                performAjaxQuery(pageNumber);
            }
        }
        else{
            console.log("Press: " + attr.innerText );
            pageNumber = +attr.innerText;
            performAjaxQuery(pageNumber);
        }

        $('#paginationList a.page-link').each(function(){
            if(+attr.innerText === pageNumber){
                $(attr).addClass('active');
            }
            else{
                $(attr).removeClass('active');
            }
        });
    }

    function performAjaxQuery(pageNumber = 1) {
        const selectedDistrict = $('#districtSelect').val();
        const selectedWard = $('#wardSelect').val();
        console.log(selectedDistrict, selectedWard);
        
        $.ajax({
            url: '/ads/request/filter', 
            type: 'GET', 
            data: {
                district: selectedDistrict,
                ward: selectedWard,
                page: pageNumber,
                limit: 5
            },
           success: function(data) {

                const authUserRole = '{{authUser.role}}';
                $('#requestAdsTable tbody').empty();
                $.each(data.licenseList, function(index, license) {
                    const newRow = `
                    <tr class="card-info-row" data-id="${license._id}" data-isLicensed="${license.isLicensed}">
                        <td class="text-center">${index + 1}</td>
                        <td>
                            <ul>
                                <li>${license.typeofAds}</li>
                                <li>Địa chỉ: ${license.setpointInfo.address}</li>
                            </ul>
                        </td>
                        <td>
                            <ul>
                                <li>Kích thước: ${license.width} x ${license.height}</li>
                                <li>Số lượng: ${license.quantity}</li>
                                <li>Hình thức: ${license.setpointInfo.adsFormat}</li>
                                <li>Phân loại: ${license.setpointInfo.typeofLocation}</li>
                                <li><a href="${license.setpointInfo.image}" target="_blank">Link hình ảnh</a></li>
                            </ul>
                        </td>
                        <td>${license.companyInfo.name}</td>
                        <td>
                            <ul>
                                <li>Địa chỉ: ${license.companyInfo.address}</li>
                                <li>Email: ${license.companyInfo.email}</li>
                                <li>SĐT: ${license.companyInfo.phoneNumber}</li>
                            </ul>
                        </td>
                        <td class="text-center">${license.startDate}</td>
                        <td class="text-center">${license.expireDate}</td>
                                ${authUserRole === 'Cán bộ Sở' ?
                            `<td class="text-center">
                                <button type="button"  class="btn btn-sm btn-table btn-approve-license ">
                                    <a class="btn btn-sm btn-license ${license.isLicensed ? 'btn-disabled' : 'btn-readonly'}" data-id="${license._id}">
                                        ${license.isLicensed ? 'Đã cấp phép' : '<i class="bi bi-hand-index-fill"></i> Chờ cấp phép'}
                                    </a>
                                </button>
                            </td>
                            <td>&nbsp;</td>`
                            :
                            `<td class="text-center">
                                ${license.isLicensed ? '<a class="btn btn-sm btn-disabled">Đã cấp phép</a>' : '<a class="btn btn-sm btn-readonly">Chờ cấp phép</a>'}
                            </td>
                            <td class="text-center">
                                ${license.isLicensed ? '<i class="bi bi-check-circle-fill h4" style="color: #8C8C8C"></i>' : 
                                `<button type="button" id="deleteBtn" class="btn btn-sm btn-table" data-id="${license._id}">
                                    <i class="bi bi-trash-fill h4" style="color: #8C8C8C"></i>
                                </button>`}
                            </td>
                </tr>`};`

                    $('#requestAdsTable tbody').append(newRow);
                });


                const paginationInfo = `Trang ${data.page} trên ${data.totalPages} trang, hiển thị ${data.pageSize} trên ${data.totalDocs} đơn`;
                $('p#paginationInfo').text(paginationInfo);

                $('#paginationList').empty();
                $('#paginationList').append(`
                            <li class="page-item">
                                <a class="page-link" style="cursor: pointer;" onclick= resetPages(this)>Trước</a>
                            </li>
                        `);
                for (let i = 0; i < data.totalPages; ++i) {
                    if(i+1 == data.page){
                        $('#paginationList').append(`
                            <li class="page-item">
                                <a class="page-link active" style="cursor: pointer;" onclick= resetPages(this)>${i + 1}</a>
                            </li>
                        `);
                    } else {
                        $('#paginationList').append(`
                            <li class="page-item">
                                <a class="page-link" style="cursor: pointer;" onclick= resetPages(this)>${i + 1}</a>
                            </li>
                        `);
                    }
                }
                $('#paginationList').append(`
                            <li class="page-item">
                                <a class="page-link" style="cursor: pointer;" onclick= resetPages(this)>Sau</a>
                            </li>
                        `);


            },
            error: function(error) {
                console.error('Lỗi truy vấn AJAX:', error);
            }
        })
    }

</script>
{{/section}}

<div class="container-fluid p-4 pt-4">
    <div class="card-container mt-4">
        <div class="card">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h5 class="blue-heading">Danh sách cấp phép</h5>
                <div class="d-flex">
                    <select id="districtSelect" class="form-select form-select-sm blue-sort-btn me-1" aria-label=".form-select-sm example">
                    <option selected>Quận</option>
                    </select>

                    <select id="wardSelect" class="form-select form-select-sm blue-sort-btn ms-1 w-100" aria-label=".form-select-sm example">
                    <option selected>Phường</option>
                    </select>
                </div>
            </div>
            {{#if this.empty}}
            <div class="card-body">
                Không có dữ liệu
            </div>
            {{else}}
            <table id="requestAdsTable" class="table table-hover align-middle">
                <thead class="align-middle text-center">
                    <tr>
                    <th class="col-0.5" scope="col">STT</th>
                    <th class="col-2" scope="col">Thông tin quảng cáo</th>
                    <th class="col-3" scope="col">Nội dung</th>
                    <th class="col-1" scope="col">Công ty <br> đặt QC</th>
                    <th class="col-2" scope="col">Thông tin công ty</th>
                    <th scope="col-1">Ngày <br> bắt đầu</th>
                    <th scope="col-1">Ngày <br> kết thúc</th>  
                    <th scope="col-1">Trạng thái</th>  
                    <th scope="col-0.5">&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each licenseList}}
                         <tr class="card-info-row" data-id="{{_id}}" data-isLicensed="{{isLicensed}}">
                            <td class="text-center">{{@index}}</td>
                            <td>
                                <ul>
                                    <li>{{typeofAds}}</li>
                                    <li>Địa chỉ: {{setpointInfo.address}}</li>
                                </ul>
                            </td>
                            <td>
                                <ul>
                                    <li>Kích thước: {{width}} x {{height}}</li>
                                    <li>Số lượng: {{quantity}}</li>
                                    <li>Hình thức: {{setpointInfo.adsFormat}}</li>
                                    <li>Phân loại: {{setpointInfo.typeofLocation}}</li>
                                    <li><a href="{{setpointInfo.image}}" target="_blank">Link hình ảnh</a></li>
                                </ul>
                            </td>
                            <td class="text-center">{{companyInfo.name}}</td>
                            <td>
                                <ul>
                                    <li>Địa chỉ: {{companyInfo.address}}</li>
                                    <li>Email: {{companyInfo.email}}</li>
                                    <li>SĐT: {{companyInfo.phoneNumber}}</li>
                                </ul>
                            </td>
                            <td class="text-center">{{startDate}}</td>
                            <td class="text-center">{{expireDate}}</td>
                       
                {{/each}}


                </tbody>
            </table>
            {{/if}}
            <div class="card-footer text-muted d-flex align-items-center justify-content-between">
                <p id="paginationInfo">
                    Trang {{page}} trên {{totalPages}} trang, hiển thị {{pageSize}} trên {{totalDocs}} đơn
                </p>
                <ul class="pagination" id="paginationList">
                </ul>
                
            </div>
            <div class="alert alert-warning text-center center delete-confirm d-none" role="alert">
                <div class="d-inline-flex">
                    <h4><i class="bi bi-exclamation-diamond-fill"></i> <span>&nbsp;</span></h4>
                    <h5>Bạn có chắc chắn muốn cấp phép cho quảng cáo này?</h5>
                </div>
                <div>
                    <a role="button" class="btn btn-sm btn-warning btn-yes">Có</a>
                    <a role="button" class="btn btn-sm btn-danger btn-no">Không</a>
                </div>
            </div>
            <div class="alert alert-success text-center center create-confirm d-none" role="alert">
                <div class="d-inline-flex">
                    <h4><i class="bi bi-cursor-fill"></i> <span>&nbsp;</span> </h4>
                    <h5>Cấp phát thành công</h5>
                </div>
                <a role="button" class="btn btn-sm btn-success">OK</a>
            </div>
        </div>



    </div>
</div>