{{#section 'js'}}
<script>
    $('button.btn-blue').click(function() {
      $('div.report-container').removeClass('d-none');
    });

    $('i.report-close-btn').click(function(){
      $('div.report-container').addClass('d-none');
    });
  </script>
{{/section}}

{{#section 'css'}}
    <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.5.2/css/fileinput.min.css">

    <link rel="stylesheet" href="/static/css/form.css">
{{/section}}

<div class="container-fluid p-5 pt-4">
  <div class="card-container m-5 mt-4">
    <div class="card">
      <div class="card-header d-flex justify-content-between align-items-center">
        <h5 class="blue-heading">Danh sách báo cáo</h5>
        <div class="d-flex">
            <select class="form-select form-select-sm blue-sort-btn me-1" aria-label=".form-select-sm example">
              <option selected>Quận</option>
              <option value="1">1</option>
              <option value="2">5</option>
            </select>
            <select class="form-select form-select-sm blue-sort-btn ms-1" aria-label=".form-select-sm example">
              <option selected>Phường</option>
              <option value="1">Cầu Ông Lãnh</option>
              <option value="2">Bến Thành</option>
              <option value="3">Nguyễn Thái Bình</option>
            </select>
        </div>
      </div>
      {{#if this.empty}}
      <div class="card-body">
        Không có dữ liệu
      </div>
      {{else}}
      <table class="table table-hover align-middle">
        <thead class="align-middle text-center">
            <tr>
                <th class="col-0.5" scope="col">STT</th>
                <th class="col-2" scope="col">Thời điểm gửi</th>
                <th class="col-2" scope="col">Thông tin người gửi</th>
                <th class="col-4" scope="col">Thông tin quảng cáo</th>
                <th class="col-2" scope="col">Loại hình quảng cáo</th>
                <th class="col-2" scope="col">Cách thức xử lý</th>
            </tr>
        </thead>
        <tbody>
            {{#each reportList}}
                <tr class="card-info-row">
                    <td class="text-center">{{ReportID}}</td>
                    <td class="text-center">{{ReportDate}}</td>
                    <td>
                      <ul>
                        <li>Họ tên: </li>
                        <li>Email: </li>
                        <li>SĐT: </li>
                      </ul>
                    </td>
                    <td>
                      <ul>
                        <li>Địa chỉ: </li>
                        <li>Kích thước: </li>
                        <li>Số lượng: </li>
                        <li>Hình thức: </li>
                        <li>Phân loại: </li>
                        <li><a href="">Link hình ảnh</a></li>
                      </ul>
                    </td>
                    <td class="text-center">{{ReportType}}</td>
                    <td class="text-center"><button type="button" class="btn btn-sm btn-table btn-blue">Xem thêm</button></td>
                </tr>
            {{/each}}
        </tbody>
      </table>
      {{/if}}
      <div class="card-footer text-muted d-flex align-items-center justify-content-between">
          <p>
            Hiển thị {{limit}} trên {{totalPages}} mục
          </p>
          <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#">Trước</a></li>
            {{#each this.pageNumbers}}
            {{#if isActive}}
              <li class="page-item active" aria-current="page">
                <a class="page-link" href="#">{{value}}</a>
              </li>
              {{else}}
              <li class="page-item">
                <a class="page-link" href="?page={{value}}">{{value}}</a>
              </li>
              {{/if}}
            {{/each}}
            <li class="page-item"><a class="page-link" href="#">Sau</a></li>
          </ul>
      </div>
    </div>
  </div>
</div>

<div class="report-container container-fluid form-center p-4 d-none">
    <div class="report-form-container center">
        <i class="report-close-btn bi bi-x d-flex justify-content-end" style="font-size: 34px; cursor: pointer;"></i>
        
        <form class="report-form" id="reportForm">
            <h4 class="report-form-title">
                <i class="bi bi-exclamation-octagon-fill"></i> BÁO CÁO VI PHẠM
            </h4>

            <div class="container">
                <div class="row">
                    <div class="container report-info">
                        <div class="row">
                            <div class="col-sm-5 col-md-4">
                                <label class="align-middle" for="reportType">Hình thức báo cáo</label>
                            </div>
                            <div class="col-sm-7 col-md-8">
                                <select
                                    class="form-select form-select-sm"
                                    aria-label=".form-select-sm example"
                                    name="reportType"
                                    id="reportType"
                                >
                                    <option value="" selected>Chọn hình thức báo cáo</option>
                                    <option value="politicalReport">Cổ động chính trị</option>
                                    <option value="adsReport">Quảng cáo thương mại</option>
                                    <option value="socializedReport">Xã hội hoá</option>
                                </select>
                                <span class="report-required"></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="report-info">
                        <label class="mb-1" for="address">Địa chỉ</label>
                        <span class="report-required float-end"></span>
                        <input type="text" name="address" id="address" value="227 Nguyễn Văn Cừ, phường 4, quận 5, TPHCM" disabled/>
                    </div>
                </div>

                <div class="row">
                    <div class="report-info">
                        <label class="mb-1" for="fullName">Họ và tên</label>
                        <span class="report-required float-end"></span>
                        <input type="text" name="fullName" id="fullName" />
                    </div>
                </div>

                <div class="row">
                    <div class="col report-info half column-split">
                        <label class="mb-1" for="email">Email</label>
                        <span class="report-required float-end"></span>
                        <input type="email" name="email" id="email" />
                    </div>
                    <div class="col report-info half">
                        <label class="mb-1" for="phoneNumber">Số điện thoại</label>
                        <span class="report-required float-end"></span>
                        <input type="tel" name="phoneNumber" id="phoneNumber" />
                    </div>
                </div>

                <div class="row">
                    <div class="report-info">
                        <label class="mb-1" for="reportContent">Nội dung báo cáo</label>
                        <span class="report-required float-end"></span>
                        <textarea
                            name="reportContent"
                            id="reportContent"
                            cols="30"
                            rows="10"
                            style="resize: none"
                        ></textarea>
                    </div>
                </div>

                <div class="row">
                    <div class="report-image-upload">
                        <label for="reportImage">Hình ảnh minh hoạ (tối đa 02 hình)</label>
                        <span class="report-required float-end"></span>
                        <input type="file" id="img" name="img" accept="image/*" multiple />
                        <div id="imagesOutput"></div>
                    </div>
                </div>

                <div class="row">
                    <div class="report-info">
                        <label for="captcha">Captcha</label>
                        <span class="report-required float-end"></span>
                        <div class="d-flex justify-content-center">
                            <div
                                class="g-recaptcha object-fit-fill"
                                data-sitekey="6LcAIR0pAAAAAPG1GImTO73xZ6rCXwKOLWsoDEBF"
                            ></div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="report-submit-button">
                        <input type="submit" id="submitBtn" value="Hoàn thành" />
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
