{{#section 'js'}}
  <script>
    $('tr.space-row').click(function() {
    const id_setpoint = $(this).data('id');
  
  // Clear previous data when clicking on a row
  $('.surface-table-tbody').empty();

  $.getJSON(`/ads?id_setpoint=${id_setpoint}`, function(data) {
    if (data.length === 0) {
      // Handle empty data
      $('.surface-table-tbody').append('<tr><td colspan="4" class="text-center">Không có dữ liệu</td></tr>');
      return;
    }
    let index =-1
    data.forEach(function(item) {
      var newRow = $('<tr>').addClass('card-info-row');
      newRow.append($('<td>').addClass('text-center').text(index + 1)); // STT

      var infoList = $('<ul>');
      infoList.append($('<li>').text('Kích thước: ' + item.width)); // width
      infoList.append($('<li>').text('Số lượng: ' + item.quantity)); // quantity
      infoList.append($('<li>').text('Phân loại: ' + item.typeofAds)); // typeofAds
      infoList.append($('<li>').append($('<a>').attr('href', item.image || '#').text('Link hình ảnh'))); // image link

      newRow.append($('<td>').append(infoList));
      newRow.append($('<td>').addClass('text-center').text(item.startDate)); // Ngày hết hạn

      var requestButton = $('<button>')
        .attr('type', 'button')
        .addClass('btn btn-sm btn-table btn-green')
        .text('Gửi yêu cầu')
        .attr('data-id', item._id);
      newRow.append($('<td>').addClass('text-center').append(requestButton));

      $('.surface-table-tbody').append(newRow);
    });
  });

  // Hide/show elements based on the click event
  $('.surface-default').addClass('d-none');
  $('.surface-table').removeClass('d-none');
  $('tr.space-row').removeClass('row-active');
  $(this).addClass('row-active');
});

    $('button.btn-blue').click(function() {
      const id = $(this).data('id');
      $('#btn-request-space').val(id)
      $('div.space-form-container').removeClass('d-none');
    });

   $(document).on('click', 'button.btn-green', function() {
    const id = $(this).data('id');
    $('.btn-request-ads').val(id)
    $('.surface-form-container').removeClass('d-none');
});


    $('i.space-close-btn').click(function(){
      $('div.space-form-container').addClass('d-none');
    });

    $('i.surface-close-btn').click(function(){
      $('div.surface-form-container').addClass('d-none');
    });
    $('#requestSetPointForm').submit(function(event) {
      event.preventDefault(); // Prevent default form submission
      
      const formData = {
        reason: $('#reasonArea').val(), // Read value from textarea
        adsFormat: $('[name="adsFormat"]').val(), // Read value from select field
        typeofLocation: $('[name="typeofLocation"]').val(), // Read value from select field
        isPlanned: $('[name="isPlanned"]').val(), 
        objectId: $('#btn-request-space').val(),
        objectToEdit: 'SetPoint',
        image : ""
      };
      

     $.ajax({
      type: 'POST',
      url: '/request', // Replace with your server route
      data: formData,
      success: function(response) {
      console.log(response);
      $('#successMessage').text(response.message);
      $('.create-confirm').show();
      $('#requestSetPointForm')[0].reset();

      // Close the form
      $('div.space-form-container').addClass('d-none');

      // Show the success message by removing the 'display: none' style
      $('.create-confirm').removeClass('d-none');
    },
      error: function(xhr, status, error) {
        // Show error notification
        var errorMessage = xhr.responseJSON ? xhr.responseJSON.message : 'Error occurred!';
        console.log(errorMessage)
        $('#errorMessage').text(errorMessage);
        $('.error-noti').removeClass('d-none').show();
        console.log($('.error-noti'));
        // Reset form fields if needed
        $('#requestSetPointForm')[0].reset();
  }
});

    });
    
     $('#requestAdsForm').submit(function(event) {
      event.preventDefault(); // Prevent default form submission
      
      const formData = {
        reason: $('#reasonAreaAds').val(), // Read value from textarea
        objectId: $('.btn-request-ads').val(),
        objectToEdit: 'Advertisement',
        width: $('[name="width"]').val(),
        quantity: $('[name="quantity"]').val(),
        typeofAds: $('[name="typeofAds"]').val(),
        height: $('[name="height"]').val(),
        image : "",

      };
      

     $.ajax({
      type: 'POST',
      url: '/request', // Replace with your server route
      data: formData,
      success: function(response) {
      console.log(response);
      $('#successMessage').text(response.message);
      $('.create-confirm').show();
      $('#requestAdsForm')[0].reset();

      // Close the form
      $('div.surface-form-container').addClass('d-none');

      // Show the success message by removing the 'display: none' style
      $('.create-confirm').removeClass('d-none');
    },
      error: function(xhr, status, error) {
        // Show error notification
        var errorMessage = xhr.responseJSON ? xhr.responseJSON.message : 'Error occurred!';
        console.log(errorMessage)
        $('#errorMessage').text(errorMessage);
        $('.error-noti').removeClass('d-none').show();
        console.log($('.error-noti'));
        // Reset form fields if needed
        $('#requestAdsForm')[0].reset();
  }
});

    });
    // Assuming the 'OK' button is within the create-confirm notification
$('.create-confirm .btn-success ').on('click', function() {
  $('.create-confirm').addClass('d-none');
});
    $('.btn-danger').on('click', function() {
      $('.error-noti').addClass('d-none');
    });

  </script>
{{/section}}

{{#section 'css'}}
<link rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.5.2/css/fileinput.min.css">

<link rel="stylesheet" href="/static/css/form.css">
{{/section}}

<div class="container-fluid p-4">
  <div class="row">
    <div class="col">
      <div class="card-container mt-4">
        <div class="card">
            <div class="card-header d-flex justify-content-between align-items-center">
              <h5 class="blue-heading">Danh sách các điểm đặt</h5>
              <div class="d-flex">
                <select class="form-select form-select-sm blue-sort-btn me-1" aria-label=".form-select-sm example">
                  <option selected>Quận</option>
                  <option value="1">1</option>
                  <option value="2">5</option>
                </select>
                <select class="form-select form-select-sm blue-sort-btn ms-1" aria-label=".form-select-sm example">
                  <option selected>Phường</option>
                  <option value="1">Cầu Ông Lãnh</option>
                  <option value="2">Bến Thành</option>
                  <option value="3">Nguyễn Thái Bình</option>
                </select>
              </div>
            </div>
            {{#if this.empty}}
            <div class="card-body">
              Không có dữ liệu
            </div>
            {{else}}
            <table class="table table-hover align-middle">
              <thead class="align-middle text-center">
                  <tr>
                  <th class="col-0.5" scope="col">STT</th>
                  <th class="col-3" scope="col">Địa chỉ</th>
                  <th class="col-6" scope="col">Thông tin chung</th>
                  <th class="col-3" scope="col">Xử lý</th>
                  </tr>
              </thead>
              <tbody>
                  {{#each list}}
                    <tr class="space-row card-info-row green-hover" data-id="{{this._id}}">
                        <td class="text-center">{{@index}}</td>
                        <td>{{this.address}}</td>
                        <td>
                            <ul>
                                <li>Hình thức quảng cáo: {{this.adsFormat}}</li>
                                <li>Phân loại: {{this.typeofLocation}}</li>
                                <li>Đã quy hoạch: {{#if this.isPlanned}}Có{{else}}Không{{/if}}</li>
                                <li><a href="{{this.image}}">Link hình ảnh</a></li>
                            </ul>
                        </td>
                        <td class="text-center">
                            <button data-id="{{this._id}}" type="button" class="btn btn-sm btn-table btn-blue">Gửi yêu cầu</button>
                        </td>
                    </tr>
                  {{/each}}
              </tbody>
            </table>
            <div class="container">
              
            </div>
            {{/if}}
            <div class="card-footer text-muted d-flex align-items-center justify-content-between">
                <p>
                  Hiển thị {{limit}} trên {{totalPages}} mục
                </p>
                <ul class="pagination">
                  <li class="page-item"><a class="page-link" href="#">Trước</a></li>
                  {{#each this.pageNumbers}}
                  {{#if isActive}}
                    <li class="page-item active" aria-current="page">
                      <a class="page-link" href="#">{{value}}</a>
                    </li>
                    {{else}}
                    <li class="page-item">
                      <a class="page-link" href="?page={{value}}">{{value}}</a>
                    </li>
                    {{/if}}
                  {{/each}}
                  <li class="page-item"><a class="page-link" href="#">Sau</a></li>
                </ul>
            </div>
          </div>
      </div>
    </div>

    <div class="col">
      <div class="card-container bg-green mt-4">
        <div class="card">
          <div class="card-header bg-green d-flex align-items-center">
            <h5 class="green-heading">Danh sách các bảng quảng cáo tương ứng</h5>
          </div>
          <div class="surface-default card-body fw-bold">
            Vui lòng chọn điểm đặt để xem thêm
          </div>
          <div class="surface-table d-none">
            {{#if this.empty}}
            <div class="card-body">
              Không có dữ liệu
            </div>
            {{else}}
            <table class="table table-hover align-middle">
              <thead class="align-middle text-center">
                  <tr>
                  <th class="col-0.5" scope="col">STT</th>
                  <th class="col-6" scope="col">Thông tin chung</th>
                  <th class="col-3" scope="col">Ngày hết hạn</th>
                  <th class="col-3" scope="col">Xử lý</th>
                  </tr>
              </thead>
              <tbody class ="surface-table-tbody">
              </tbody>
            </table>
            
            {{/if}}
            <div class="card-footer text-muted d-flex align-items-center justify-content-between">
                <p>
                    Hiển thị {{limit}} trên {{totalPages}} mục
                </p>
                <ul class="pagination">
                  <li class="page-item"><a class="page-link" href="#">Trước</a></li>
                  {{#each this.pageNumbers}}
                  {{#if isActive}}
                    <li class="page-item active" aria-current="page">
                      <a class="page-link" href="#">{{value}}</a>
                    </li>
                    {{else}}
                    <li class="page-item">
                      <a class="page-link" href="?page={{value}}">{{value}}</a>
                    </li>
                    {{/if}}
                  {{/each}}
                  <li class="page-item"><a class="page-link" href="#">Sau</a></li>
                </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="space-form-container container-fluid form-center p-4 d-none">
    <form method="post" id ="requestSetPointForm" class="form-width center p-2 custom-form-location box-shadow">
        <div class="row">
            <i class="space-close-btn bi bi-x d-flex justify-content-end white-color" style="font-size: 34px; cursor: pointer;"></i>
        </div>

        <div class="row text-center mb-3 white-color ">
            <i class="bi bi-geo-fill fw-bold heading-size">
                Yêu cầu chỉnh sửa điểm đặt
            </i>
        </div>

        <div class="row mb-2 bg-light rounded-1 p-2 mx-2">
            <div class="row mb-1 fs-5 fw-semibold info-color">
                Thông tin chung
            </div>

            <div class="row">
                <label for="txtSender" class="col-sm-3 col-form-label">Người gửi</label>
                <div class="col-sm-9">
                    <input type="text" readonly class="form-control-plaintext" id="txtSender" value="{{authUser.role}}">
                </div>
            </div>
           

            <div class="row">
                <span class="col-sm-3 col-form-label">Lí do chỉnh sửa</span>
                <div class="form-floating">
                    <textarea class="form-control" placeholder="Leave a comment here" id="reasonArea" style="height: 100px" name="reason"></textarea>
                </div>
            </div>
        </div>

        <div class="row mb-2 bg-light rounded-1 p-2 mx-2">
            <div class="row mb-1 fs-5 fw-semibold info-color">
                Thông tin chỉnh sửa
            </div>

            <div class="row mb-2">
                <span class="col-sm-3 col-form-label">Hình thức</span>
                <div class="col-sm-9">
                    <select class="form-select form-select-sm" aria-label=".form-select-sm example" name = "adsFormat">
                        <option selected>Hình thức quảng cáo</option>
                        <option value="1">Cổ động chính trị</option>
                        <option value="2">Quảng cáo thương mại</option>
                        <option value="3">Xã hội hoá</option>
                    </select>
                </div>
            </div>

            <div class="row mb-2">
                <span class="col-sm-3 col-form-label">Phân loại</span>
                <div class="col-sm-9">
                    <select class="form-select form-select-sm" aria-label=".form-select-sm example" name="typeofLocation">
                        <option selected>Phân loại</option>
                        <option value="1">Đất công/Công viên/Hành lang an toàn giao thông</option>
                        <option value="2">Đất tư nhân/Nhà ở riêng lẻ</option>
                        <option value="3">Trung tâm thương mại</option>
                        <option value="4">Chợ</option>
                        <option value="5">Cây xăng</option>
                        <option value="6">Nhà chờ xe buýt</option>
                    </select>
                </div>
            </div>

            <div class="row mb-2">
                <span class="col-sm-3 col-form-label">Tình trạng</span>
                <div class="col-sm-9">
                    <select class="form-select form-select-sm" aria-label=".form-select-sm example" name = "isPlanned">
                        <option selected>Tình hình quy hoạch</option>
                        <option value="1">Đã quy hoạch</option>
                        <option value="2">Chưa quy hoạch</option>
                    </select>
                </div>
            </div>

            <div class="row mb-2 form-group">
                <label for="fuMain" class="mb-2">Hình ảnh</label>
                <input type="file" multiple id="fuMain" name="fuMain">
            </div>
        </div>

        <div class="row">
            <div class="col-12 text-center fw-semibold">
                <button type="submit" id = "btn-request-space" class="btn btn-outline-light btn-submit box-shadow">Hoàn thành</button>
            </div>
        </div>

        <div class="row">

        </div>
    </form>
</div>

<div class="surface-form-container container-fluid form-center p-4 d-none">
    <form method="post" id ="requestAdsForm"  class="form-width center p-2 custom-form-qc box-shadow ">
        <div class="row ">
            <i class="surface-close-btn bi bi-x d-flex justify-content-end white-color" style="font-size: 34px; cursor: pointer;"></i>
        </div>

        <div class="row text-center mb-3 white-color ">
            <i class="bi bi-badge-ad-fill fw-bold heading-size">
                Yêu cầu chỉnh sửa bảng quảng cáo
            </i>
        </div>

        <div class="row mb-2 bg-light rounded-1 p-2 mx-2">
            <div class="row mb-1 fs-5 fw-semibold ">
                Thông tin chung
            </div>

            <div class="row">
                <label for="txtSender" class="col-sm-3 col-form-label">Người gửi</label>
                <div class="col-sm-9">
                    <input type="text" readonly class="form-control-plaintext" id="txtSender" value="{{authUser.role}}">
                </div>
            </div>
            <div class="row">
                <label for="txtDate" class="col-sm-3 col-form-label">Thời điểm chỉnh sửa</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="txtDate" name="dateReport">
                </div>
            </div>

            <div class="row">
                <span class="col-sm-3 col-form-label">Lí do chỉnh sửa</span>
                <div class="form-floating">
                    <textarea class="form-control" placeholder="Leave a comment here" id="reasonAreaAds" style="height: 100px"></textarea>
                </div>
            </div>
        </div>

        <div class="row mb-2 bg-light rounded-1 p-2 mx-2">
            <div class="row mb-1 fs-5 fw-semibold ">
                Thông tin chỉnh sửa
            </div>

            <div class="row mb-2">
                <span class="col-sm-3 col-form-label align-middle">Kích thước & Số lượng</span>
                <div class="col-sm-9">
                    <div class="row">
                    <div class="col-sm-4">
                            <label for="txtPhone" class="form-label fw-italic black-color">Chiều rộng (m)</label>
                            <input type="text" class="form-control form-control-sm mb-2" id="txtPhone" name="phone">
                    </div>
                    <div class="col-sm-4">
                            <label for="txtPhone" class="form-label fw-italic black-color">Chiều dài (m)</label>
                            <input type="text" class="form-control form-control-sm mb-2" id="txtPhone" name="phone">
                    </div>
                    <div class="col-sm-4">
                            <label for="txtPhone" class="form-label fw-italic black-color">Số lượng (trụ/bảng)</label>
                            <input type="text" class="form-control form-control-sm mb-2" id="txtPhone" name="phone">
                    </div>
                    </div>
                </div>
            </div>

            <div class="row mb-2">
                <span class="col-sm-3 col-form-label">Loại bảng quảng cáo</span>
                <div class="col-sm-9">
                    <select class="form-select form-select-sm" aria-label=".form-select-sm example" name="typeofLocation">
                        <option selected>Phân loại</option>
                        <option value="1">Trụ bảng hiflex</option>
                        <option value="2">Trụ màn hình điện tử LED</option>
                        <option value="3">Trụ hộp đèn</option>
                        <option value="4">Bảng hiflex ốp tường</option>
                        <option value="5">Màn hình điện tử ốp tường</option>
                        <option value="6">Trụ treo băng rôn dọc</option>
                        <option value="7">Trụ treo băng rôn ngang</option>
                        <option value="8">Trụ/Cụm pano</option>
                        <option value="9">Cổng chào</option>
                        <option value="10">Trung tâm thương mại</option>
                    </select>
                </div>
            </div>

            <div class="row">
                <label for="txtDateQC" class="col-sm-3 col-form-label">Ngày hết hạn</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="txtDateQC" name="dateExpired">
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-12 text-center fw-semibold">
                <button type="submit" class="btn btn-outline-light btn-submit box-shadow btn-request-ads">Hoàn thành</button>
            </div>
        </div>
    </form>

</div>
<div class="alert alert-success text-center center create-confirm d-none" role="alert">
  <div class="d-inline-flex">
    <h4><i class="bi bi-cursor-fill"></i> <span>&nbsp;</span> </h4>
    <h5 id="successMessage"></h5>
  </div>
  <a role="button" class="btn btn-sm btn-success" >OK</a>
</div>
<div class="alert alert-danger text-center center error-noti d-none" role="alert">
  <div class="d-inline-flex">
    <h4><i class="bi bi-x-circle-fill"></i> <span>&nbsp;</span> </h4>
    <h5 id ="errorMessage"></h5>
  </div>
  <a role="button" class="btn btn-sm btn-danger">OK</a>
</div>