{{#section 'js'}}
  <script>
    $('tr.space-row').click(function() {
      $('.surface-default').addClass('d-none');
      $('.surface-table').removeClass('d-none');
      $('tr.space-row').removeClass('row-active')
      $(this).addClass('row-active');
    });

    $('button.btn-blue').click(function() {
      $('div.space-form-container').removeClass('d-none');
    });

    $('button.btn-green').click(function() {
      $('div.surface-form-container').removeClass('d-none');
    });

    $('i.space-close-btn').click(function(){
      $('div.space-form-container').addClass('d-none');
    });

    $('i.surface-close-btn').click(function(){
      $('div.surface-form-container').addClass('d-none');
    });
  </script>
{{/section}}

{{#section 'css'}}
<link rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.5.2/css/fileinput.min.css">

<link rel="stylesheet" href="/static/css/form.css">
{{/section}}

<div class="container-fluid p-4">
  <div class="row">
    <div class="col">
      <div class="card-container mt-4">
        <div class="card">
            <div class="card-header d-flex justify-content-between align-items-center">
              <h5 class="blue-heading">Danh sách các điểm đặt</h5>
              <div class="d-flex">
                {{!-- <div class="dropdown me-2">
                    <a class="btn btn-sm blue-sort-btn dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Quận</a>
                    <ul class="dropdown-menu dropdown-menu-lg-end">
                        <li><a class="dropdown-item" href="#">1</a></li>
                        <li><a class="dropdown-item" href="#">5</a></li>
                    </ul>
                </div> --}}
                <select class="form-select form-select-sm blue-sort-btn me-1" aria-label=".form-select-sm example">
                  <option selected>Quận</option>
                  <option value="1">1</option>
                  <option value="2">5</option>
                </select>
                <select class="form-select form-select-sm blue-sort-btn ms-1" aria-label=".form-select-sm example">
                  <option selected>Phường</option>
                  <option value="1">Cầu Ông Lãnh</option>
                  <option value="2">Bến Thành</option>
                  <option value="3">Nguyễn Thái Bình</option>
                </select>
              </div>
            </div>
            {{#if this.empty}}
            <div class="card-body">
              Không có dữ liệu
            </div>
            {{else}}
            <table class="table table-hover align-middle">
              <thead class="align-middle text-center">
                  <tr>
                  <th class="col-0.5" scope="col">STT</th>
                  <th class="col-3" scope="col">Địa chỉ</th>
                  <th class="col-6" scope="col">Thông tin chung</th>
                  <th class="col-3" scope="col">Xử lý</th>
                  </tr>
              </thead>
              <tbody>
                  {{#each list}}
                    <tr class="space-row card-info-row green-hover">
                        <td class="text-center">{{@index}}</td>
                        <td>{{this.address}}</td>
                        <td>
                            <ul>
                                <li>Hình thức quảng cáo: {{this.adsFormat}}</li>
                                <li>Phân loại: {{this.typeofLocation}}</li>
                                <li>Đã quy hoạch: {{#if this.isPlanned}}Có{{else}}Không{{/if}}</li>
                                <li><a href="{{this.image}}">Link hình ảnh</a></li>
                            </ul>
                        </td>
                        <td class="text-center">
                            <button type="button" class="btn btn-sm btn-table btn-blue">Gửi yêu cầu</button>
                        </td>
                    </tr>
                  {{/each}}
              </tbody>
            </table>
            <div class="container">
              
            </div>
            {{!-- {{#if formLocation}} --}}
              {{!-- Render location form --}}
            {{!-- {{/if}} --}}
            {{/if}}
            <div class="card-footer text-muted d-flex align-items-center justify-content-between">
                <p>
                  Hiển thị {{limit}} trên {{totalPages}} mục
                </p>
                <ul class="pagination">
                  <li class="page-item"><a class="page-link" href="#">Trước</a></li>
                  {{#each this.pageNumbers}}
                  {{#if isActive}}
                    <li class="page-item active" aria-current="page">
                      <a class="page-link" href="#">{{value}}</a>
                    </li>
                    {{else}}
                    <li class="page-item">
                      <a class="page-link" href="?page={{value}}">{{value}}</a>
                    </li>
                    {{/if}}
                  {{/each}}
                  <li class="page-item"><a class="page-link" href="#">Sau</a></li>
                </ul>
            </div>
          </div>
      </div>
    </div>

    <div class="col">
      <div class="card-container bg-green mt-4">
        <div class="card">
          <div class="card-header bg-green d-flex align-items-center">
            <h5 class="green-heading">Danh sách các bảng quảng cáo tương ứng</h5>
          </div>
          <div class="surface-default card-body fw-bold">
            Vui lòng chọn điểm đặt để xem thêm
          </div>
          <div class="surface-table d-none">
            {{#if this.empty}}
            <div class="card-body">
              Không có dữ liệu
            </div>
            {{else}}
            <table class="table table-hover align-middle">
              <thead class="align-middle text-center">
                  <tr>
                  <th class="col-0.5" scope="col">STT</th>
                  <th class="col-6" scope="col">Thông tin chung</th>
                  <th class="col-3" scope="col">Ngày hết hạn</th>
                  <th class="col-3" scope="col">Xử lý</th>
                  </tr>
              </thead>
              <tbody>
                  {{#each surfaceList}}
                      <tr class="card-info-row">
                          <td class="text-center">{{SurfaceID}}</td>
                          <td>
                            <ul>
                              <li>Kích thước: </li>
                              <li>Số lượng: </li>
                              <li>Hình thức: </li>
                              <li>Phân loại: </li>
                              <li><a href=""></a>Link hình ảnh</li>
                            </ul>
                          </td>
                          <td class="text-center">{{SurfaceExpiredDate}}</td>
                          <td class="text-center"><button type="button" class="btn btn-sm btn-table btn-green">Gửi yêu cầu</button></td>
                      </tr>
                  {{/each}}
              </tbody>
            </table>
              {{!-- {{#if formQC}} --}}
                {{!-- Render QC form --}}
              {{!-- {{/if}} --}}
            {{/if}}
            <div class="card-footer text-muted d-flex align-items-center justify-content-between">
                <p>
                    Hiển thị {{limit}} trên {{totalPages}} mục
                </p>
                <ul class="pagination">
                  <li class="page-item"><a class="page-link" href="#">Trước</a></li>
                  {{#each this.pageNumbers}}
                  {{#if isActive}}
                    <li class="page-item active" aria-current="page">
                      <a class="page-link" href="#">{{value}}</a>
                    </li>
                    {{else}}
                    <li class="page-item">
                      <a class="page-link" href="?page={{value}}">{{value}}</a>
                    </li>
                    {{/if}}
                  {{/each}}
                  <li class="page-item"><a class="page-link" href="#">Sau</a></li>
                </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="space-form-container container-fluid form-center p-4 d-none">
    <form method="post" class="form-width center p-2 custom-form-location box-shadow">
        <div class="row">
            <i class="space-close-btn bi bi-x d-flex justify-content-end white-color" style="font-size: 34px; cursor: pointer;"></i>
        </div>

        <div class="row text-center mb-3 white-color ">
            <i class="bi bi-geo-fill fw-bold heading-size">
                Yêu cầu chỉnh sửa điểm đặt
            </i>
        </div>

        <div class="row mb-2 bg-light rounded-1 p-2 mx-2">
            <div class="row mb-1 fs-5 fw-semibold info-color">
                Thông tin chung
            </div>

            <div class="row">
                <label for="txtSender" class="col-sm-3 col-form-label">Người gửi</label>
                <div class="col-sm-9">
                    <input type="text" readonly class="form-control-plaintext" id="txtSender" value="Cán bộ phường X">
                </div>
            </div>
            <div class="row">
                <label for="txtDate" class="col-sm-3 col-form-label">Thời điểm chỉnh sửa</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="txtDate" name="dateReport">
                </div>
            </div>

            <div class="row">
                <span class="col-sm-3 col-form-label">Lí do chỉnh sửa</span>
                <div class="form-floating">
                    <textarea class="form-control" placeholder="Leave a comment here" id="reasonArea" style="height: 100px"></textarea>
                </div>
            </div>
        </div>

        <div class="row mb-2 bg-light rounded-1 p-2 mx-2">
            <div class="row mb-1 fs-5 fw-semibold info-color">
                Thông tin chỉnh sửa
            </div>

            <div class="row mb-2">
                <span class="col-sm-3 col-form-label">Hình thức</span>
                <div class="col-sm-9">
                    <select class="form-select form-select-sm" aria-label=".form-select-sm example">
                        <option selected>Hình thức quảng cáo</option>
                        <option value="1">Cổ động chính trị</option>
                        <option value="2">Quảng cáo thương mại</option>
                        <option value="3">Xã hội hoá</option>
                    </select>
                </div>
            </div>

            <div class="row mb-2">
                <span class="col-sm-3 col-form-label">Phân loại</span>
                <div class="col-sm-9">
                    <select class="form-select form-select-sm" aria-label=".form-select-sm example">
                        <option selected>Phân loại</option>
                        <option value="1">Đất công/Công viên/Hành lang an toàn giao thông</option>
                        <option value="2">Đất tư nhân/Nhà ở riêng lẻ</option>
                        <option value="3">Trung tâm thương mại</option>
                        <option value="4">Chợ</option>
                        <option value="5">Cây xăng</option>
                        <option value="6">Nhà chờ xe buýt</option>
                    </select>
                </div>
            </div>

            <div class="row mb-2">
                <span class="col-sm-3 col-form-label">Tình trạng</span>
                <div class="col-sm-9">
                    <select class="form-select form-select-sm" aria-label=".form-select-sm example">
                        <option selected>Tình hình quy hoạch</option>
                        <option value="1">Đã quy hoạch</option>
                        <option value="2">Chưa quy hoạch</option>
                    </select>
                </div>
            </div>

            <div class="row mb-2 form-group">
                <label for="fuMain" class="mb-2">Hình ảnh</label>
                <input type="file" multiple id="fuMain" name="fuMain">
            </div>
        </div>

        <div class="row">
            <div class="col-12 text-center fw-semibold">
                <button type="submit" class="btn btn-outline-light btn-submit box-shadow">Hoàn thành</button>
            </div>
        </div>

        <div class="row">

        </div>
    </form>
</div>

<div class="surface-form-container container-fluid form-center p-4 d-none">
    <form method="post" class="form-width center p-2 custom-form-qc box-shadow ">
        <div class="row ">
            <i class="surface-close-btn bi bi-x d-flex justify-content-end white-color" style="font-size: 34px; cursor: pointer;"></i>
        </div>

        <div class="row text-center mb-3 white-color ">
            <i class="bi bi-badge-ad-fill fw-bold heading-size">
                Yêu cầu chỉnh sửa bảng quảng cáo
            </i>
        </div>

        <div class="row mb-2 bg-light rounded-1 p-2 mx-2">
            <div class="row mb-1 fs-5 fw-semibold ">
                Thông tin chung
            </div>

            <div class="row">
                <label for="txtSender" class="col-sm-3 col-form-label">Người gửi</label>
                <div class="col-sm-9">
                    <input type="text" readonly class="form-control-plaintext" id="txtSender" value="Cán bộ phường X">
                </div>
            </div>
            <div class="row">
                <label for="txtDate" class="col-sm-3 col-form-label">Thời điểm chỉnh sửa</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="txtDate" name="dateReport">
                </div>
            </div>

            <div class="row">
                <span class="col-sm-3 col-form-label">Lí do chỉnh sửa</span>
                <div class="form-floating">
                    <textarea class="form-control" placeholder="Leave a comment here" id="reasonArea" style="height: 100px"></textarea>
                </div>
            </div>
        </div>

        <div class="row mb-2 bg-light rounded-1 p-2 mx-2">
            <div class="row mb-1 fs-5 fw-semibold ">
                Thông tin chỉnh sửa
            </div>

            <div class="row mb-2">
                <span class="col-sm-3 col-form-label align-middle">Kích thước & Số lượng</span>
                <div class="col-sm-9">
                    <div class="row">
                    <div class="col-sm-4">
                            <label for="txtPhone" class="form-label fw-italic black-color">Chiều rộng (m)</label>
                            <input type="text" class="form-control form-control-sm mb-2" id="txtPhone" name="phone">
                    </div>
                    <div class="col-sm-4">
                            <label for="txtPhone" class="form-label fw-italic black-color">Chiều dài (m)</label>
                            <input type="text" class="form-control form-control-sm mb-2" id="txtPhone" name="phone">
                    </div>
                    <div class="col-sm-4">
                            <label for="txtPhone" class="form-label fw-italic black-color">Số lượng (trụ/bảng)</label>
                            <input type="text" class="form-control form-control-sm mb-2" id="txtPhone" name="phone">
                    </div>
                    </div>
                </div>
            </div>

            <div class="row mb-2">
                <span class="col-sm-3 col-form-label">Hình thức</span>
                <div class="col-sm-9">
                    <select class="form-select form-select-sm" aria-label=".form-select-sm example">
                        <option selected>Hình thức quảng cáo</option>
                        <option value="1">Cổ động chính trị</option>
                        <option value="2">Quảng cáo thương mại</option>
                        <option value="3">Xã hội hoá</option>
                    </select>
                </div>
            </div>

            <div class="row mb-2">
                <span class="col-sm-3 col-form-label">Phân loại</span>
                <div class="col-sm-9">
                    <select class="form-select form-select-sm" aria-label=".form-select-sm example">
                        <option selected>Phân loại</option>
                        <option value="1">Trụ bảng hiflex</option>
                        <option value="2">Trụ màn hình điện tử LED</option>
                        <option value="3">Trụ hộp đèn</option>
                        <option value="4">Bảng hiflex ốp tường</option>
                        <option value="5">Màn hình điện tử ốp tường</option>
                        <option value="6">Trụ treo băng rôn dọc</option>
                        <option value="7">Trụ treo băng rôn ngang</option>
                        <option value="8">Trụ/Cụm pano</option>
                        <option value="9">Cổng chào</option>
                        <option value="10">Trung tâm thương mại</option>
                    </select>
                </div>
            </div>

            <div class="row">
                <label for="txtDateQC" class="col-sm-3 col-form-label">Ngày hết hạn</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="txtDateQC" name="dateExpired">
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-12 text-center fw-semibold">
                <button type="submit" class="btn btn-outline-light btn-submit box-shadow">Hoàn thành</button>
            </div>
        </div>
    </form>

    <div class="row"></div>
</div>