{{#section 'js'}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.5.2/js/fileinput.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.5.2/js/locales/vi.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.5.2/js/plugins/buffer.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.5.2/js/plugins/filetype.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.5.2/js/plugins/piexif.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.5.2/js/plugins/sortable.min.js"></script>
<script>
    //$('div.license-form-container #fuMain').fileinput({
        //dropZoneEnabled: false,
        //maxFileCount: 5,
        //allowedFileExtensions: ['jpg', 'png', 'gif'],
        // language: 'vi',
    //});
 $(document).ready(function() {
    $('div.license-form-container #txtDayStart').datetimepicker({
        timepicker: false,
        format: 'd/m/Y',
        mask: true
    });

    $('div.license-form-container input[name^=dayEnd]').datetimepicker({
        timepicker: false,
        format: 'd/m/Y',
        mask: true
    });

    // Validate form Xin cấp phép QC
    $('#formLicense').submit(function (e) {
        e.preventDefault();
        console.log("check jquery")
        var errorNoti = "";
        const regexPhoneNumber = /(84|0[3|5|7|8|9])+([0-9]{8})\b/g;

        var typeAds = $("div.license-form-container #typeAds").find("option:selected").text();
        var typeLoc = $("div.license-form-container #typeLoc").find("option:selected").text();
        var typeBillboard = $("div.license-form-container #typeBillboard").find("option:selected").text();
        var dateStart = $('div.license-form-container #txtDayStart').val();
        var dateEnd = $('div.license-form-container #txtDayEnd').val();
        
        if($('div.license-form-container #txtHeight').val() === "" || $('div.license-form-container #txtWidth').val() === "" ){
            errorNoti = "Bạn chưa chọn đủ kích thước dài và rộng";
        } 
        else if(typeBillboard === "Phân loại bảng quảng cáo"){
            errorNoti = "Bạn chưa chọn loại bảng quảng cáo";
        } 
        else if(typeLoc === "Phân loại điểm đặt"){
            errorNoti = "Bạn chưa chọn loại điểm đặt";
        } 
        else if(typeAds === "Hình thức quảng cáo"){
            errorNoti = "Bạn chưa chọn hình thức quảng cáo";
        } 
        else if($('div.license-form-container #txtNameCompany').val() === ""){
            errorNoti = "Tên công ty không được trống";
        } 
        else if($('div.license-form-container #txtAdr').val() === ""){
            errorNoti = "Địa chỉ không được trống";
        } 
        else if($('div.license-form-container #txtEmail').val() === ""){
            errorNoti = "Email không được trống";
        } 
        else if(! $('div.license-form-container #txtPhone').val().match(regexPhoneNumber)){
            errorNoti = "Số điện thoại không hợp lệ";
        } 
        else if(dateStart === "__/__/____" || dateStart.length===0){
            errorNoti = "Bạn chưa chọn ngày bắt đầu hợp đồng";
        } 
        else if(dateEnd === "__/__/____" || dateEnd.length===0){
            errorNoti = "Bạn chưa chọn ngày kết thúc hợp đồng";
        }

        if(errorNoti.length !== 0){
            var errComp = $(`<div class="alert alert-danger text-center center error-noti" role="alert">
                    <div class="d-inline-flex">
                        <h4><i class="bi bi-x-circle-fill"></i> <span>&nbsp;</span> </h4>
                        <h5>${errorNoti}</h5>
                    </div>
                    <button type="button" class="btn btn-sm btn-danger" data-bs-dismiss="alert" aria-label="Close">OK</button>
                </div>`);
            $('div.license-form-container #errorContainer').append(errComp);
            return;
        }
        const setPointData = $(this).data('id');
        const formData = new FormData();

        formData.append('id_setpoint', setPointData);
        formData.append('typeofAds', typeAds);
        formData.append('startDate', dateStart);
        formData.append('expireDate', dateEnd);
        formData.append('height', $('div.license-form-container #txtHeight').val());
        formData.append('width', $('div.license-form-container #txtWidth').val());
        formData.append('quantity', $('div.license-form-container #txtQuantity').val());
        formData.append('name', $('div.license-form-container #txtNameCompany').val());
        formData.append('address', $('div.license-form-container #txtAdr').val());
        formData.append('email', $('div.license-form-container #txtEmail').val());
        formData.append('phoneNumber', $('div.license-form-container #txtPhone').val());

        if ($('div.license-form-container #fuMain').get(0).files.length > 0) {
            formData.append('image', $('div.license-form-container #fuMain').get(0).files[0]);
        }

        $.ajax({
            type: 'POST',
            url: '/ads',
            data: formData,
            processData: false,
            contentType: false,
            success: function(response) {
                if (response) {
                    $('div.license-form-container').addClass('d-none');
                    $('div.license-form-container #errorContainer').empty();
                    $('div.license-form-container #errorContainer').append('<h5 class="text-center text-success">Đăng ký thành cảnh công!</h5>');
                    $('div.license-form-container #errorContainer').append('<p class="text-center text-success">Vui lý nếu bắt đầu đăng ký.</p>');
                } ,
            error: function() {
                    $('div.license-form-container #errorContainer').empty();
                    $('div.license-form-container #errorContainer').append('<h5 class="text-center text-danger">Đăng ký thất bài!</h5>');
                    $('div.license-form-container #errorContainer').append('<p class="text-center text-danger">Vui lý nếu bắt đầu đăng ký.</p>');

                
                }
            }
        })
      
    })
    })
</script>

  <script>
    performAjaxQuery();
    // Set date edit: Today
    var date = new Date();
    var today = date.getDate() + '/' + (date.getMonth()+1) + '/' +  date.getFullYear();

    // Click space row
    $(document).on('click', ' .space-row', function() {
        const id_setpoint = $(this).data('id');
        $('.surface-table-tbody').empty();

        $.getJSON(`/ads?id_setpoint=${id_setpoint}`, function(data) {
        if (data.length === 0) {
            // Handle empty data
            $('.surface-table-tbody').append('<tr><td colspan="4" class="text-center">Không có dữ liệu</td></tr>');
            return;
        }
        let index = -1
        data.forEach(function(item) {
            var newRow = $('<tr>').addClass('card-info-row');
            index = index + 1;
            newRow.append($('<td>').addClass('text-center').text(index)); // STT
            var infoList = $('<ul>');
            infoList.append($('<li>').text('Kích thước: ' + item.width + " x " +item.height )); // width
            infoList.append($('<li>').text('Số lượng: ' + item.quantity)); // quantity
            infoList.append($('<li>').text('Phân loại: ' + item.typeofAds)); // typeofAds
            infoList.append($('<li>').append($('<a>').attr('href', item.image || '#').text('Link hình ảnh'))); // image link

            newRow.append($('<td>').append(infoList));
            newRow.append($('<td>').addClass('text-center').text(item.expireDate)); // Ngày hết hạn

            var requestButton = $('<button>')
            .attr('type', 'button')
            .addClass('btn btn-sm btn-table btn-list btn-outline-green btn-edit-ads mb-1')
            .text('Chỉnh sửa')
            .attr('data-id', item._id);

            var viewRequestButton = $('<button>')
            .attr('type', 'button')
            .addClass('btn btn-sm btn-table btn-list btn-outline-green btn-view-ads mb-1')
            .text('Xem yêu cầu')
            .attr('data-id', item._id);

            var deleteRequestButton = $('<button>')
            .attr('type', 'button')
            .addClass('btn btn-sm btn-table btn-list btn-gray btn-delete-ads')
            .text('Xoá')
            .attr('data-id', item._id);

            newRow.append($('<td>').addClass('text-center').append(requestButton).append(viewRequestButton).append(deleteRequestButton));

            $('.surface-table-tbody').append(newRow);
        });
        });

        // Hide/show elements based on the click event
        $('.surface-default').addClass('d-none');
        $('.surface-table').removeClass('d-none');
        $('tr.space-row').removeClass('row-active');
        $(this).addClass('row-active');
    });

    $(document).on('click', 'button.btn-edit-space-req', function() {
      const id = $(this).data('id');
      $('#btn-request-space').val(id)
      $('div.space-form-container').removeClass('d-none');
      $('div.space-form-container input').each(function(){
        this.disabled = false;
      });

      $('div.space-form-container textarea').each(function(){
        this.disabled = false;
      });

      $('div.space-form-container select').each(function(){
        this.disabled = false;
      });
      $('div.space-form-container #txtDate').val(today);
      $('button#btn-request-space')[0].innerHTML = 'Gửi yêu cầu';
});

    $(document).on('click', 'button.btn-view-space-req', function() {
      const id = $(this).data('id');
      $('#btn-request-space').val(id);
      $('div.space-form-container').removeClass('d-none');
      $('div.space-form-container input').each(function(){
        this.disabled = true;
      });

      $('div.space-form-container textarea').each(function(){
        this.disabled = true;
      });

      $('div.space-form-container select').each(function(){
        this.disabled = true;
      });
      fetch(`/request/objects?id_setpoint=${id}`)
      .then(response => response.json())
      .then(data => {
          console.log($('div.space-form-container #typeAds'))
          $('div.space-form-container #txtDate').val(data.createdAt);
          $('div.space-form-container #reasonArea').val(data.reason);
          $('div.space-form-container #typeAds').val(data.updatedInfo.typeofLocation);
          $('div.space-form-container #typeLoc').val(data.updatedInfo.adsFormat);
         // $('div.space-form-container #isPlanned').val(data.updatedInfo.isPlanned ? 'Đã quy hoạch' : 'Chưa quy hoạch');
      })
      $('button#btn-request-space')[0].innerHTML = 'Duyệt yêu cầu';
});

    $('a.btn-yes').click(function() {
      $('div.delete-confirm').addClass('d-none');
    });

    $('a.btn-no').click(function() {
      $('div.delete-confirm').addClass('d-none');
    });

    $(document).on('click', 'button.btn-license-req', function(){
     $('#txtLng').val($(this).data('lng'));
       $("#txtLat").val($(this).data('lat'));
      $('div.license-form-container').removeClass('d-none');
       $('#formLicense').data('id', $(this).data('id'));
       console.log($(this).data('lng'));
       
    });

    $('i#licenseFormClose').click(function(){
      $('div.license-form-container form')[0].reset();
      $('div.license-form-container').addClass('d-none');
    });

    $(document).on('click', 'button.btn-edit-ads', function() {
        const id = $(this).data('id');
        $('.btn-request-ads').val(id);
        $('.surface-form-container').removeClass('d-none');
        $('div.surface-form-container input').each(function(){
            this.disabled = false;
        });

        $('div.surface-form-container textarea').each(function(){
            this.disabled = false;
        });

        $('div.surface-form-container select').each(function(){
            this.disabled = false;
        });

        $('div.surface-form-container #txtDate').val(today);

        $('div.surface-form-container input[name^=dateExpired]').datetimepicker({
            timepicker: false,
            format: 'd/m/Y',
            mask: true
        });

        $('button.btn-request-ads')[0].innerHTML = 'Gửi yêu cầu';
    });

    $(document).on('click', 'button.btn-view-ads', function() {
        const id = $(this).data('id');
        $('#btn-request-ads').val(id);
        $('.surface-form-container').removeClass('d-none');
        $('div.surface-form-container input').each(function(){
            this.disabled = true;
        });

        $('div.surface-form-container textarea').each(function(){
        this.disabled = true;
        });

        $('div.surface-form-container select').each(function(){
        this.disabled = true;
        });
        fetch(`/request/objects?id_setpoint=${id}`)
        .then(response => response.json())
        .then(data => {
            console.log(data)
            $('div.surface-form-container #txtDate').val(data.createdAt);
            $('div.surface-form-container #reasonArea').val(data.reason);
            //$('div.surface-form-container #typeAds').val(data.updatedInfo.typeofLocation);
            //$('div.surface-form-container #typeLoc').val(data.updatedInfo.adsFormat);
            //$('div.surface-form-container #isPlanned').val(data.updatedInfo.isPlanned ? 'Đã quy hoạch' : 'Chưa quy hoạch');

        })
        $('button.btn-request-ads')[0].innerHTML = 'Duyệt yêu cầu';
    });

    // Xử lý Duyệt yêu cầu của chỉnh sửa điểm đặt 
  $(document).on('click', 'button#btn-request-space', function(e) {
      if($('button#btn-request-space')[0].innerHTML === 'Duyệt yêu cầu'){
          $('button.btn-view-space-req').addClass('d-none');
          $('div.space-form-container').addClass('d-none');
      }
  });

    // Xử lý Duyệt yêu cầu của chỉnh sửa bảng QC 
  $(document).on('click', 'button.btn-request-ads', function(e) {
     if($('button.btn-request-ads')[0].innerHTML === 'Duyệt yêu cầu'){
        $('button.btn-view-ads').addClass('d-none');
        $('div.surface-form-container').addClass('d-none');
     }
  });

    $(document).on('click', 'button.btn-gray', function() {
      $('div.delete-confirm').removeClass('d-none');
    });

    $('i.space-close-btn').click(function(){
      $('div.space-form-container form')[0].reset();
      $('div.space-form-container').addClass('d-none');
    });

    $('i.surface-close-btn').click(function(){
      $('div.surface-form-container form')[0].reset();
      $('div.surface-form-container').addClass('d-none');
    });
    
    // Duyệt yêu cầu chỉnh sửa điểm đặt 
    $('#requestSetPointForm').submit(function(event) {
      event.preventDefault(); // Prevent default form submission
      
     
        var errorNoti = "";
        var typeAds = $("div.space-form-container #typeAds").find("option:selected").text();
        var typeLoc = $("div.space-form-container #typeLoc").find("option:selected").text();
        var isPlanned = $("div.space-form-container #isPlanned").find("option:selected").text();
        if ($('div.space-form-container #reasonArea').val().length === 0) {
            errorNoti = "Lí do chỉnh sửa không được trống";
        } else if(typeAds === "Hình thức quảng cáo"){
            errorNoti = "Bạn chưa chọn hình thức quảng cáo";
        } else if(typeLoc === "Phân loại điểm đặt"){
            errorNoti = "Bạn chưa chọn loại điểm đặt";
        } else if(isPlanned === "Tình hình quy hoạch"){
            errorNoti = "Bạn chưa chọn tình hình quy hoạch";
        }
      
         const formData = {
            reason: $('#reasonArea').val(), // Read value from textarea
            adsFormat: typeAds, // Read value from select field
            typeofLocation: typeLoc,
            isPlanned: isPlanned, 
            objectId: $('#btn-request-space').val(),
            objectToEdit: 'SetPoint',
        };

        const form = new FormData();
        form.append('reason', formData.reason);
        form.append('adsFormat', formData.adsFormat);
        form.append('typeofLocation', formData.typeofLocation);
        form.append('isPlanned', formData.isPlanned);
        form.append('objectId', formData.objectId);
        form.append('objectToEdit', formData.objectToEdit);

        const fileInput = $('#fuMain')[0].files[0];
        if (fileInput) {
            form.append('image', fileInput);
        }

        if(errorNoti.length !== 0){
            var errComp = $(`<div class="alert alert-danger text-center center error-noti" role="alert">
                    <div class="d-inline-flex">
                        <h4><i class="bi bi-x-circle-fill"></i> <span>&nbsp;</span> </h4>
                        <h5>${errorNoti}</h5>
                    </div>
                    <button type="button" class="btn btn-sm btn-danger" data-bs-dismiss="alert" aria-label="Close">OK</button>
                </div>`);
            $('#errorContainer').append(errComp);
            return;
        }
            console.log(form)
            $.ajax({
            type: 'POST',
            url: '/request', 
            data: form,
            contentType: false, // Set to false for FormData
            processData: false,
            success: function(response) {
            console.log(response);
            $('#successMessage').text(response.message);
            $('.create-confirm').show();
            $('#requestSetPointForm')[0].reset();
            $('div.space-form-container').addClass('d-none');

            $('.create-confirm').removeClass('d-none');
         
            },
            error: function(xhr, status, error) {
                // Show error notification
                var errorMessage = xhr.responseJSON ? xhr.responseJSON.message : 'Error occurred!';
                console.log(errorMessage)
                $('#errorMessage').text(errorMessage);
                $('.error-noti').removeClass('d-none').show();
                console.log($('.error-noti'));
                // Reset form fields if needed
                $('#requestSetPointForm')[0].reset();
    }
});

    });
    
    // Duyệt yêu cầu chỉnh sửa QC 
    $('#requestAdsForm').submit(function(event) {
      event.preventDefault(); // Prevent default form submission
      
      const formData = {
        reason: $('#reasonAreaAds').val(), // Read value from textarea
        objectId: $('.btn-request-ads').val(),
        objectToEdit: 'Advertisement',
        width: $('[name="width"]').val(),
        quantity: $('[name="quantity"]').val(),
        typeofAds: $('[name="typeofAds"]').val(),
        height: $('[name="height"]').val(),
        image : "",

      };
     
        var errorNoti = "";
        var typeBillboard = $("div.surface-form-container #typeBillboard").find("option:selected").text();
        var dateQC = $('div.surface-form-container #txtDateQC').val();
        
        if ($('div.surface-form-container #reasonAreaAds').val().length === 0) {
            errorNoti = "Lí do chỉnh sửa không được trống";
        } else if($('div.surface-form-container #txtHeight').val() === "" || $('div.surface-form-container #txtWidth').val() === "" || $('div.surface-form-container #txtQuantity').val() === "" ){
            errorNoti = "Bạn chưa chọn đủ kích thước và số lượng";
        } else if(typeBillboard === "Phân loại bảng quảng cáo"){
            errorNoti = "Bạn chưa chọn loại bảng quảng cáo";
        } else if(dateQC === "__/__/____" || dateQC.length===0){
            errorNoti = "Bạn chưa chọn ngày hết hạn bảng quảng cáo";
        }

        if(errorNoti.length !== 0){
            var errComp = $(`<div class="alert alert-danger text-center center error-noti" role="alert">
                    <div class="d-inline-flex">
                        <h4><i class="bi bi-x-circle-fill"></i> <span>&nbsp;</span> </h4>
                        <h5>${errorNoti}</h5>
                    </div>
                    <button type="button" class="btn btn-sm btn-danger" data-bs-dismiss="alert" aria-label="Close">OK</button>
                </div>`);
            $('div.surface-form-container #errorContainer').append(errComp);
            return;
        }

     $.ajax({
      type: 'POST',
      url: '/request', // Replace with your server route
      data: formData,
      success: function(response) {
        console.log(response);
        $('#successMessage').text(response.message);
        $('.create-confirm').show();
        $('#requestAdsForm')[0].reset();

        // Close the form
        $('div.surface-form-container').addClass('d-none');

        
    },
     error: function(xhr, status, error) {
            // Show error notification
            var errorMessage = xhr.responseJSON ? xhr.responseJSON.message : 'Error occurred!';
            console.log(errorMessage)
            $('#errorMessage').text(errorMessage);
            $('.error-noti').removeClass('d-none').show();
            console.log($('.error-noti'));
            // Reset form fields if needed
            $('#requestAdsForm')[0].reset();
    }
});

    });
    
    $('.create-confirm .btn-success ').on('click', function() {
      $('.create-confirm').addClass('d-none');
    });
    $('.btn-danger').on('click', function() {
      $('.error-noti').addClass('d-none');
    });
      const District1 = [
                'Phường Bến Nghé',
                'Phường Bến Thành',
                'Phường Cầu Kho',
                'Phường Cầu Ông Lãnh',
                'Phường Cô Giang',
                'Phường Đa Kao',
                'Phường Nguyễn Cư Trinh',
                'Phường Nguyễn Thái Bình',
                'Phường Phạm Ngũ Lão',
                'Phường Tân Định'
              ];
          const District5 = [
                'Phường 1   ',
                'Phường 2',
                'Phường 3',
                'Phường 4',
                'Phường 5',
                'Phường 6',
                'Phường 7',
                'Phường 8',
                'Phường 9',
                'Phường 10',
                'Phường 11',
                'Phường 12',
                'Phường 13',
                'Phường 14',
                'Phường 15',
              ];  
            
    $(document).ready(function() {
    const authUserRole = '{{authUser.role}}';
    const authUserDistrict = '{{authUser.district}}';
    const authUserWard = '{{authUser.ward}}';

    function addLicenseColumn(setpointId) {
        if (authUserRole === 'Cán bộ Sở') {
            const newColumn = 
            `<td class="text-center">
                            <button data-id="${setpointId}" type="button" class="btn btn-sm btn-table btn-outline-blue btn-list btn-view-space-req">Xem yêu cầu</button>
          </td>`
            $(this).append(newColumn);
        } else {
            const newColumn = `<td class="text-center">
                            <button data-id="${setpointId}" type="button" class="btn btn-sm btn-table btn-outline-blue btn-list btn-edit-space-req">Chỉnh sửa</button>
          </td>`;

            $(this).append(newColumn);
        }
    }

    function updateDropdownContent() {
        const districtSelect = $('#districtSelect');
        const wardSelect = $('#wardSelect');

        districtSelect.empty();
        wardSelect.empty();

        if (authUserRole === 'Cán bộ Sở') {
            const allDistricts = ['Quận 1', 'Quận 5'];
            const allWards = [...District1, ...District5];

            districtSelect.append(`<option selected>Quận</option>`);
            allDistricts.forEach(district => {
                districtSelect.append(`<option value="${district}">${district}</option>`);
            });

            wardSelect.append(`<option selected>Phường</option>`);
        } else if (authUserRole === 'Cán bộ Quận') {
            districtSelect.append(`<option value="${authUserDistrict}" selected>${authUserDistrict}</option>`);
            let allWards;

            if (authUserDistrict === 'Quận 1') {
                allWards = District1;
            }

            if (authUserDistrict === 'Quận 5') {
                allWards = District5;
            }

            wardSelect.append(`<option selected>Phường</option>`);
            allWards.forEach(ward => {
                wardSelect.append(`<option value="${ward}">${ward}</option>`);
            });
        } else if (authUserRole === 'Cán bộ Phường') {
            console.log(authUserWard);
            districtSelect.append(`<option value="${authUserDistrict}" selected>${authUserDistrict}</option>`);
            wardSelect.append(`<option value="${authUserWard}" selected>${authUserWard}</option>`);
        }
    }

    // Loop through each row in the table
    $('#surface-table tbody tr').each(function(index) {
        //const isLicensed = $(this).data('islicensed');
        const setpointId = $(this).data('id');
        console.log( $(this).data())
        // Add the license column dynamically
        addLicenseColumn.call(this, setpointId);
    });

        updateDropdownContent();
    });


    $('#districtSelect, #wardSelect').change(function() {
         const authUserRole = '{{authUser.role}}';
         if (authUserRole === 'Cán bộ Sở') {
           const selectedDistrict = $('#districtSelect').val();
           
          if (selectedDistrict === 'Quận 1') {
              populateWards(District1);
          } else if (selectedDistrict === 'Quận 5') {
              populateWards(District5);
          } else {
              populateWards([]);
          }
         }
         function populateWards(wards) {
        const wardSelect = $('#wardSelect');
        
        // Save the currently selected ward before clearing the options
        const selectedWard = wardSelect.val();

        wardSelect.empty();
        wardSelect.append('<option selected>Phường</option>');

        wards.forEach(ward => {
            wardSelect.append(`<option value="${ward}">${ward}</option>`);
        });

        if (wards.includes(selectedWard)) {
            wardSelect.val(selectedWard);
        }
}
       $('.surface-table-tbody').empty();
        performAjaxQuery();
    })

    // Reset lại thanh pagination
    function resetPages(attr){
        const totalPages = $('a.page-link').length - 2;
        console.log("Press page")
        if(attr.innerText === 'Trước'){
            if(pageNumber > 1){
                pageNumber--;
                performAjaxQuery(pageNumber);
            }
        }
        else if(attr.innerText === 'Sau'){
            if(pageNumber < totalPages){
                pageNumber++;
                performAjaxQuery(pageNumber);
            }
        }
        else{
            console.log("Press: " + attr.innerText );
            pageNumber = +attr.innerText;
            performAjaxQuery(pageNumber);
        }

        $('#paginationList a.page-link').each(function(){
            if(+attr.innerText === pageNumber){
                $(attr).addClass('active');
            }
            else{
                $(attr).removeClass('active');
            }
        });
    }

    // Query dữ liệu
    function performAjaxQuery(pageNumber = 1) {
        const selectedDistrict = $('#districtSelect').val();
        const selectedWard = $('#wardSelect').val();
        console.log(selectedDistrict, selectedWard);
        
        $.ajax({
            url: '/setPoints/filter', 
            type: 'GET', 
            data: {
                district: selectedDistrict,
                ward: selectedWard,
                page: pageNumber,
                limit: 5
            },
            success: function(data) {
            const authUserRole = '{{authUser.role}}';
            console.log(data)
            $('#setPointTable tbody').empty();
            $.each(data.list, function(index, setpoint) {
              console.log(123,setpoint)
            const newRow = `
            <tr class="space-row card-info-row green-hover" data-id="${setpoint._id}">
                <td class="text-center">${index + 1}</td>
                <td>${setpoint.address}</td>
                <td>
                    <ul>
                        <li>Hình thức quảng cáo: ${setpoint.adsFormat}</li>
                        <li>Phân loại: ${setpoint.typeofLocation}</li>
                        <li>Đã quy hoạch: ${setpoint.isPlanned ? 'Có' : 'Không'}</li>
                        <li><a href="${setpoint.image}">Link hình ảnh</a></li>
                    </ul>
                </td>
                <td class="text-center">
                    ${authUserRole === 'Cán bộ Sở' ? 
                    `<button data-id="${setpoint._id}" data-lat =${setpoint.lat} data-lng=${setpoint.lng} type="button" class="btn btn-sm btn-table btn-outline-blue btn-list btn-view-space-req mb-1">Xem yêu cầu</button>
                    <button data-id="${setpoint._id}" data-lat =${setpoint.lat} data-lng=${setpoint.lng} type="button" class="btn btn-sm btn-table btn-gray btn-list btn-delete-space-req">Xoá</button>
                    `
                    : `
                    <button data-id="${setpoint._id}" data-lat =${setpoint.lat} data-lng=${setpoint.lng} type="button" class="btn btn-sm btn-table btn-outline-blue btn-list btn-edit-space-req mb-1">Chỉnh sửa</button>
                    <button data-id="${setpoint._id}" data-lat =${setpoint.lat} data-lng=${setpoint.lng} type="button" class="btn btn-sm btn-table btn-license-green btn-list btn-license-req mb-1">Xin cấp phép</button>
                    `}

                </td>
            </tr>`;


             $('#setPointTable tbody').append(newRow);
            });
              const paginationInfo = `Trang ${data.page} trên ${data.totalPages} trang, hiển thị ${data.pageSize} trên ${data.totalDocs} báo cáo`;
              $('p#paginationInfo').text(paginationInfo);

              $('#paginationList').empty();
              $('#paginationList').append(`
                          <li class="page-item">
                              <a class="page-link" style="cursor: pointer;" onclick= resetPages(this)>Trước</a>
                          </li>
                      `);
              for (let i = 0; i < data.totalPages; ++i) {
                  if(i+1 == data.page){
                      $('#paginationList').append(`
                          <li class="page-item">
                              <a class="page-link active" style="cursor: pointer;" onclick= resetPages(this)>${i + 1}</a>
                          </li>
                      `);
                  } else {
                      $('#paginationList').append(`
                          <li class="page-item">
                              <a class="page-link" style="cursor: pointer;" onclick= resetPages(this)>${i + 1}</a>
                          </li>
                      `);
                  }
              }
              $('#paginationList').append(`
                          <li class="page-item">
                              <a class="page-link" style="cursor: pointer;" onclick= resetPages(this)>Sau</a>
                          </li>
                      `);
            },
            error: function(error) {
                    console.error('Lỗi truy vấn AJAX:', error);
                }
            })
    }

  </script>
{{/section}}

{{#section 'css'}}
<link rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.5.2/css/fileinput.min.css">

<link rel="stylesheet" href="/static/css/form.css">
{{/section}}

{{!-- Container --}}
<div class="container-fluid p-4">
  <div class="row">
    <div class="col">
      <div class="card-container mt-4">
        <div class="card">
            <div class="card-header d-flex justify-content-between align-items-center">
              <h5 class="blue-heading">Danh sách các điểm đặt</h5>
              <div class="d-flex">
                    <select id="districtSelect" class="form-select form-select-sm blue-sort-btn me-1" aria-label=".form-select-sm example">
                    <option selected>Quận</option>
                    </select>

                    <select id="wardSelect" class="form-select form-select-sm blue-sort-btn ms-1 w-100" aria-label=".form-select-sm example">
                    <option selected>Phường</option>
                    </select>
                </div>
            </div>
            {{#if this.empty}}
            <div class="card-body">
              Không có dữ liệu
            </div>
            {{else}}
            <table id="setPointTable" class="table table-hover align-middle">
              <thead class="align-middle text-center">
                  <tr>
                  <th class="col-0.5" scope="col">STT</th>
                  <th class="col-3" scope="col">Địa chỉ</th>
                  <th class="col-6" scope="col">Thông tin chung</th>
                  <th class="col-3" scope="col">Xử lý</th>
                  </tr>
              </thead>
              <tbody >
                  {{#each list}}
                    <tr class="space-row card-info-row green-hover" data-id="{{this._id}}">
                        <td class="text-center">{{@index}}</td>
                        <td>{{this.address}}</td>
                        <td>
                            <ul>
                                <li>Hình thức quảng cáo: {{this.adsFormat}}</li>
                                <li>Phân loại: {{this.typeofLocation}}</li>
                                <li>Đã quy hoạch: {{#if this.isPlanned}}Có{{else}}Không{{/if}}</li>
                                <li><a href="{{this.image}}">Link hình ảnh</a></li>
                            </ul>
                        </td>
                        <td class="text-center">
                            {{#ifEquals authUser.role 'Cán bộ Sở'}}i
                            <button data-id="{{this._id}}" type="button" class="btn btn-sm btn-table btn-outline-blue btn-list btn-edit-space-req mb-1">Chỉnh sửa</button>
                            <button data-id="{{this._id}}" type="button" class="btn btn-sm btn-table btn-license-green btn-list btn-license-req mb-1">Xin cấp phép</button>
                            {{else}}
                            <button data-id="{{this._id}}" type="button" class="btn btn-sm btn-table btn-outline-blue btn-list btn-view-space-req mb-1">Xem yêu cầu</button>
                            <button data-id="{{this._id}}" type="button" class="btn btn-sm btn-table btn-gray btn-list btn-delete-space-req">Xoá</button>
                             {{/ifEquals}}
                        </td>
                    </tr>
                  {{/each}}
              </tbody>
            </table>
            <div class="container">
              
            </div>
            {{/if}}
            <div class="card-footer text-muted d-flex align-items-center justify-content-between">
                <p id="paginationInfo">
                  Trang {{page}} trên {{totalPages}} trang, hiển thị {{pageSize}} trên {{totalDocs}} điểm đặt
                </p>
                <ul class="pagination" id="paginationList"></ul>
            </div>
          </div>
      </div>
    </div>

    <div class="col">
      <div class="card-container bg-green mt-4">
        <div class="card">
          <div class="card-header bg-green d-flex align-items-center">
            <h5 class="green-heading">Danh sách các bảng quảng cáo tương ứng</h5>
          </div>
          <div class="surface-default card-body fw-bold">
            Vui lòng chọn điểm đặt để xem thêm
          </div>
          <div class="surface-table d-none">
            {{#if this.empty}}
            <div class="card-body">
              Không có dữ liệu
            </div>
            {{else}}
            <table class="table table-hover align-middle">
              <thead class="align-middle text-center">
                  <tr>
                  <th class="col-0.5" scope="col">STT</th>
                  <th class="col-6" scope="col">Thông tin chung</th>
                  <th class="col-3" scope="col">Ngày hết hạn</th>
                  <th class="col-3" scope="col">Xử lý</th>
                  </tr>
              </thead>
              <tbody id="surface-table" class ="surface-table-tbody">
              </tbody>
            </table>
            
            {{/if}}
            <div class="card-footer text-muted d-flex align-items-center justify-content-between">
                <p>
                    Hiển thị {{limit}} trên {{totalPages}} mục
                </p>
                <ul class="pagination">
                  <li class="page-item"><a class="page-link" href="#">Trước</a></li>
                  {{#each this.pageNumbers}}
                  {{#if isActive}}
                    <li class="page-item active" aria-current="page">
                      <a class="page-link" href="#">{{value}}</a>
                    </li>
                    {{else}}
                    <li class="page-item">
                      <a class="page-link" href="?page={{value}}">{{value}}</a>
                    </li>
                    {{/if}}
                  {{/each}}
                  <li class="page-item"><a class="page-link" href="#">Sau</a></li>
                </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{{!-- yêu cầu chỉnh sửa điểm đặt --}}
<div class="space-form-container container-fluid form-center p-4 d-none">
    <form method="post" id ="requestSetPointForm" class="form-width center p-2 custom-form-location box-shadow" enctype="multipart/form-data">
        <div id="errorContainer"></div>

        <div class="row">
            <i class="space-close-btn bi bi-x d-flex justify-content-end white-color" style="font-size: 34px; cursor: pointer;"></i>
        </div>

        <div class="row text-center mb-3 white-color ">
            <i class="bi bi-geo-fill fw-bold heading-size">
                Yêu cầu chỉnh sửa điểm đặt
            </i>
        </div>

        <div class="row mb-2 bg-light rounded-1 p-2 mx-2">
            <div class="row mb-1 fs-5 fw-semibold info-color">
                Thông tin chung
            </div>

            <div class="row">
                <label for="txtSender" class="col-sm-3 col-form-label">Người gửi</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control-plaintext" id="txtSender" value="Cán bộ Phường X">
                </div>
            </div>
            <div class="row">
                <label for="txtDate" class="col-sm-3 col-form-label">Thời điểm chỉnh sửa</label>
                <div class="col-sm-9">
                    <input type="text" readonly class="form-control" id="txtDate" name="dateReport">
                </div>
            </div>

            <div class="row">
                <span class="col-sm-3 col-form-label">Lí do chỉnh sửa</span>
                <div class="form-floating">
                    <textarea class="form-control" placeholder="Leave a comment here" id="reasonArea" style="height: 100px"></textarea>
                </div>
            </div>
        </div>

        <div class="row mb-2 bg-light rounded-1 p-2 mx-2">
            <div class="row mb-1 fs-5 fw-semibold info-color">
                Thông tin chỉnh sửa
            </div>

            <div class="row mb-2">
                <span class="col-sm-3 col-form-label">Hình thức</span>
                <div class="col-sm-9">
                    <select id="typeAds" class="form-select form-select-sm" aria-label=".form-select-sm example">
                        <option selected>Hình thức quảng cáo</option>
                        <option value="Cổ động chính trị">Cổ động chính trị</option>
                        <option value="Quảng cáo thương mại">Quảng cáo thương mại</option>
                        <option value="Xã hội hoá">Xã hội hoá</option>
                    </select>
                </div>
            </div>

            <div class="row mb-2">
                <span class="col-sm-3 col-form-label">Phân loại</span>
                <div class="col-sm-9">
                    <select id="typeLoc" class="form-select form-select-sm" aria-label=".form-select-sm example">
                        <option selected>Phân loại điểm đặt</option>
                        <option value="Đất công/Công viên/Hành lang an toàn giao thông">Đất công/Công viên/Hành lang an toàn giao thông</option>
                        <option value="Đất tư nhân/Nhà ở riêng lẻ">Đất tư nhân/Nhà ở riêng lẻ</option>
                        <option value="Trung tâm thương mại">Trung tâm thương mại</option>
                        <option value="Chợ">Chợ</option>
                        <option value="Cây xăng">Cây xăng</option>
                        <option value="Nhà chờ xe buýt">Nhà chờ xe buýt</option>
                    </select>
                </div>
            </div>

            <div class="row mb-2">
                <span class="col-sm-3 col-form-label">Tình trạng</span>
                <div class="col-sm-9">
                    <select id="isPlanned" class="form-select form-select-sm" aria-label=".form-select-sm example">
                        <option selected>Tình hình quy hoạch</option>
                        <option value="Đã quy hoạch">Đã quy hoạch</option>
                        <option value="Chưa quy hoạch">Chưa quy hoạch</option>
                    </select>
                </div>
            </div>

            <div class="row mb-2 form-group">
                <label for="fuMain" class="mb-2">Hình ảnh</label>
                <input type="file" id="fuMain" name="fuMain">
            </div>
        </div>

        <div class="row">
            <div class="col-12 text-center fw-semibold">
                <button type="submit" id = "btn-request-space" class="btn btn-outline-light btn-submit box-shadow"></button>
            </div>
        </div>

        <div class="row">

        </div>
    </form>
</div>

{{!-- yêu cầu chỉnh sửa bảng quảng cáo --}}
<div class="surface-form-container container-fluid form-center p-4 d-none">
        <form method="post" id ="requestAdsForm"  class="form-width center p-2 custom-form-qc box-shadow ">
        <div id="errorContainer"></div>
        <div class="row ">
            <i class="surface-close-btn bi bi-x d-flex justify-content-end white-color" style="font-size: 34px; cursor: pointer;"></i>
        </div>

        <div class="row text-center mb-3 white-color ">
            <i class="bi bi-badge-ad-fill fw-bold heading-size">
                Yêu cầu chỉnh sửa bảng quảng cáo
            </i>
        </div>

        <div class="row mb-2 bg-light rounded-1 p-2 mx-2">
            <div class="row mb-1 fs-5 fw-semibold ">
                Thông tin chung
            </div>

            <div class="row">
                <label for="txtSender" class="col-sm-3 col-form-label">Người gửi</label>
                <div class="col-sm-9">
                    <input type="text" readonly class="form-control-plaintext" id="txtSender" value="{{authUser.role}}">
                </div>
            </div>
            <div class="row">
                <label for="txtDate" class="col-sm-3 col-form-label">Thời điểm chỉnh sửa</label>
                <div class="col-sm-9">
                    <input type="text" readonly class="form-control" id="txtDate" name="dateReport">
                </div>
            </div>

            <div class="row">
                <span class="col-sm-3 col-form-label">Lí do chỉnh sửa</span>
                <div class="form-floating">
                    <textarea class="form-control" placeholder="Leave a comment here" id="reasonAreaAds" style="height: 100px"></textarea>
                </div>
            </div>
        </div>

        <div class="row mb-2 bg-light rounded-1 p-2 mx-2">
            <div class="row mb-1 fs-5 fw-semibold ">
                Thông tin chỉnh sửa
            </div>

            <div class="row mb-2">
                <span class="col-sm-3 col-form-label align-middle">Kích thước & Số lượng</span>
                <div class="col-sm-9">
                    <div class="row">
                    <div class="col-sm-4">
                            <label for="txtWidth" class="form-label fw-italic black-color">Chiều rộng (m)</label>
                            <input type="text" class="form-control form-control-sm mb-2" id="txtWidth" name="width">
                    </div>
                    <div class="col-sm-4">
                            <label for="txtHeight" class="form-label fw-italic black-color">Chiều dài (m)</label>
                            <input type="text" class="form-control form-control-sm mb-2" id="txtHeight" name="height">
                    </div>
                    <div class="col-sm-4">
                            <label for="txtQuantity" class="form-label fw-italic black-color">Số lượng (trụ/bảng)</label>
                            <input type="text" class="form-control form-control-sm mb-2" id="txtQuantity" name="quantity">
                    </div>
                    </div>
                </div>
            </div>

            <div class="row mb-2">
                <span class="col-sm-3 col-form-label">Loại bảng quảng cáo</span>
                <div class="col-sm-9">
                    <select class="form-select form-select-sm" id="typeBillboard" aria-label=".form-select-sm example" name="typeofLocation">
                        <option selected>Phân loại bảng quảng cáo</option>
                        <option value="Trụ bảng hiflex">Trụ bảng hiflex</option>
                        <option value="Trụ màn hình điện tử LED">Trụ màn hình điện tử LED</option>
                        <option value="Trụ hộp đèn">Trụ hộp đèn</option>
                        <option value="Bảng hiflex ốp tường">Bảng hiflex ốp tường</option>
                        <option value="Màn hình điện tử ốp tường">Màn hình điện tử ốp tường</option>
                        <option value="Trụ treo băng rôn dọc">Trụ treo băng rôn dọc</option>
                        <option value="Trụ treo băng rôn ngang">Trụ treo băng rôn ngang</option>
                        <option value="Trụ/Cụm pano">Trụ/Cụm pano</option>
                        <option value="Cổng chào">Cổng chào</option>
                        <option value="Trung tâm thương mại">Trung tâm thương mại</option>
                    </select>
                </div>
            </div>

            <div class="row">
                <label for="txtDateQC" class="col-sm-3 col-form-label">Ngày hết hạn</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="txtDateQC" name="dateExpired">
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-12 text-center fw-semibold">
                <button type="submit" class="btn btn-outline-light btn-submit box-shadow btn-request-ads" ></button>
            </div>
        </div>
    </form>

</div>

{{!-- Đơn xin cấp phép quảng cáo --}}
<div class="license-form-container container-fluid form-center mt-4 p-4 d-none">
    <div class="center" style="height: 80%; overflow-y: scroll;">
        <form  id="formLicense" method="post" class="container-fluid custom-form-license box-shadow" enctype="multipart/form-data">
            <div id="errorContainer"></div>

            <div class="row">
                <i class="bi bi-x d-flex justify-content-end green-color" id="licenseFormClose" style="font-size: 34px; cursor: pointer;"></i>
            </div>

            <div class="row text-center my-3 ">
                <span class="fw-bold heading-size green-color">
                    ĐƠN XIN CẤP PHÉP QUẢNG CÁO
                </span>
            </div>

            <div class="row justify-content-center mb-3">
                    <div class="col-6 col-md-5 rounded-1 p-3 me-4 white-bg border border-success">
                        <div class="row mb-1 fs-5 fw-semibold ">
                            <div class="col-12 form-label green-color">
                                Thông tin quảng cáo
                            </div>
                        </div>

                        <div class="row mb-2">
                                <div class="col">
                                        <label for="txtLng" class="form-label fw-italic black-color">Kinh độ</label>
                                        <input type="text" class="form-control form-control-sm mb-2" id="txtLng" name="lng"  disabled>
                                </div>
                                <div class="col">
                                        <label for="txtLat" class="form-label fw-italic black-color">Vĩ độ</label>
                                        <input type="text" class="form-control form-control-sm mb-2" id="txtLat" name="lat"  disabled>
                                </div>
                        </div>

                        <div class="row mb-2">
                            <div class="col">
                                    <label for="txtWidth" class="form-label fw-italic black-color">Chiều dài</label>
                                    <input type="number" class="form-control form-control-sm mb-2" id="txtWidth" name="width">
                            </div>
                            <div class="col">
                                    <label for="txtHeight" class="form-label fw-italic black-color">Chiều rộng</label>
                                    <input type="number" class="form-control form-control-sm mb-2" id="txtHeight" name="height">
                            </div>
                        </div>  
                        <div class="mb-2">
                            <label for="txtQuantity" class="form-label">Số lượng</label>
                            <input type="number" class="form-control form-control-sm" id="txtQuantity" name="quantity">
                        </div>
                        <div class="mb-2">
                            <label class="form-label">Loại bảng quảng cáo </label>
                            <select id="typeBillboard" class="form-select form-select-sm" aria-label=".form-select-sm example">
                                <option selected>Phân loại bảng quảng cáo</option>
                                <option value="Trụ bảng hiflex">Trụ bảng hiflex</option>
                                <option value="Trụ màn hình điện tử LED">Trụ màn hình điện tử LED</option>
                                <option value="Trụ hộp đèn">Trụ hộp đèn</option>
                                <option value="Bảng hiflex ốp tường">Bảng hiflex ốp tường</option>
                                <option value="Màn hình điện tử ốp tường">Màn hình điện tử ốp tường</option>
                                <option value="Trụ treo băng rôn dọc">Trụ treo băng rôn dọc</option>
                                <option value="Trụ treo băng rôn ngang">Trụ treo băng rôn ngang</option>
                                <option value="Trụ/Cụm pano">Trụ/Cụm pano</option>
                                <option value="Cổng chào">Cổng chào</option>
                                <option value="Trung tâm thương mại">Trung tâm thương mại</option>
                            </select>
                        </div>

                        <div class=" mb-2 form-group">
                            <label for="fuMain" class="form-label">Hình ảnh minh họa</label>
                            <input type="file" id="fuMain" name="fuMain">
                        </div>

                    </div>


                    {{!-- Part 2 --}}
                    <div class="col-6 col-md-5 rounded-1 p-3 ms-4 white-bg border border-success">
                        <div class="mb-1 fs-5 fw-semibold ">
                            <div class="col-12 form-label green-color">
                                Thông tin công ty
                            </div>
                        </div>

                        <div class="mb-3">
                            <label for="txtNameCompany" class="form-label">Tên công ty</label>
                            <input type="text" class="form-control form-control-sm" id="txtNameCompany" name="nameCompany">
                        </div>

                        <div class="mb-3">
                            <label for="txtAdr" class="form-label">Địa chỉ</label>
                            <input type="text" class="form-control form-control-sm" id="txtAdr" name="address">
                        </div>

                        <div class="mb-3">
                            <label for="txtEmail" class="form-label">Email</label>
                            <input type="email" class="form-control form-control-sm" id="txtEmail" name="email">
                        </div>

                        <div class="mb-3">
                            <label for="txtPhone" class="form-label">Số điện thoại</label>
                            <input type="text" class="form-control form-control-sm" id="txtPhone" name="phone">
                        </div>

                        <div class="mb-3">
                            <label for="txtDayStart" class="form-label">Ngày bắt đầu hợp đồng</label>
                            <input type="text" class="form-control form-control-sm" id="txtDayStart" name="dayStart">
                        </div>

                        <div class="mb-3">
                            <label for="txtDayEnd" class="form-label">Ngày kết thúc hợp đồng</label>
                            <input type="text" class="form-control form-control-sm" id="txtDayEnd" name="dayEnd">
                        </div>

                    </div>


            </div>

            <div class="row mb-3">
                <div class="col-12 text-center fw-semibold ">
                    <button type="submit" class="btn btn-success box-shadow custom-btn-license" id="custom-btn-license">
                        <i class="bi bi-file-earmark-plus-fill">
                        </i>
                        Tạo yêu cầu
                    </button>
                </div>
            </div>

            <div class="row"></div>
        </form>
    </div>
</div>

{{!-- Các notification --}}
<div class="alert alert-success text-center center create-confirm d-none" role="alert">
  <div class="d-inline-flex">
    <h4><i class="bi bi-cursor-fill"></i> <span>&nbsp;</span> </h4>
    <h5 id="successMessage"></h5>
  </div>
  <a role="button" class="btn btn-sm btn-success" >OK</a>
</div>

<div class="alert alert-danger text-center center error-noti d-none" role="alert">
  <div class="d-inline-flex">
    <h4><i class="bi bi-x-circle-fill"></i> <span>&nbsp;</span> </h4>
    <h5 id ="errorMessage"></h5>
  </div>
  <a role="button" class="btn btn-sm btn-danger">OK</a>
</div>

<div class="alert alert-warning text-center center delete-confirm d-none" role="alert">
  <div class="d-inline-flex">
    <h4><i class="bi bi-exclamation-diamond-fill"></i> <span>&nbsp;</span></h4>
    <h5>Bạn có chắc chắn muốn xóa điểm đặt/bảng quảng cáo này?</h5>
  </div>
  <div>
    <a role="button" class="btn btn-sm btn-warning btn-yes">Có</a>
    <a role="button" class="btn btn-sm btn-danger btn-no">Không</a>
  </div>
</div>