<div class="container-fluid p-5 pt-4">
  <div class="card-container m-5 mt-4">
    <div class="card">
      <div class="card-header d-flex justify-content-between align-items-center">
        <h5 class="blue-heading">Danh sách báo cáo tại phường Y</h5>
      </div>
      {{#if this.empty}}
      <div class="card-body">
        Không có dữ liệu
      </div>
      {{else}}
      <table class="table table-hover align-middle">
        <thead class="align-middle text-center">
            <tr>
                <th class="col-0.5" scope="col">STT</th>
                <th class="col-2" scope="col">Thời điểm gửi</th>
                <th class="col-2" scope="col">Thông tin người gửi</th>
                <th class="col-3" scope="col">Thông tin quảng cáo</th>
                <th class="col-2" scope="col">Loại hình quảng cáo</th>
                <th class="col-2" scope="col">Cách thức xử lý</th>
                <th class="col-2" scope="col">Trạng thái</th>  
            </tr>
        </thead>
        <tbody>
            {{#each reportList}}
                <tr class="card-info-row">
                    <td class="text-center">{{ReportID}}</td>
                    <td class="text-center">{{ReportDate}}</td>
                    <td>{{{ReportInfo}}}</td>
                    <td>{{{ReportAdsInfo}}}</td>
                    <td class="text-center">{{ReportType}}</td>
                    <td class="text-center"><a href="/" role="button" class="btn btn-sm btn-table btn-blue">Xem thêm</a></td>
                    <td class="text-center"><button class="btn btn-sm btn-readonly">{{ReportState}}</button></td>
                </tr>
            {{/each}}
        </tbody>
      </table>
      {{/if}}
      <div class="card-footer text-muted d-flex align-items-center justify-content-between">
          <p>
            Hiển thị {{limit}} trên {{totalPages}} mục
          </p>
          <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#">Trước</a></li>
            {{#each this.pageNumbers}}
            {{#if isActive}}
              <li class="page-item active" aria-current="page">
                <a class="page-link" href="#">{{value}}</a>
              </li>
              {{else}}
              <li class="page-item">
                <a class="page-link" href="?page={{value}}">{{value}}</a>
              </li>
              {{/if}}
            {{/each}}
            <li class="page-item"><a class="page-link" href="#">Sau</a></li>
          </ul>
      </div>
    </div>
  </div>
</div>
