<html lang='en'>
    <head>
        <meta charset='UTF-8' />
        <meta name='viewport' content='width=device-width, initial-scale=1.0' />
        <title>Profile</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css">
        <link rel="stylesheet" href="/static/css/globalStyle.css">
        <link rel="stylesheet" href="/static/css/blob.css">
        <link rel="stylesheet" href="/static/css/layout.css">
    </head>
    <body class="bg-light">
        <div id="errorContainer">
            {{#if this.msg}}
                {{#if this.is_err}}
                <div class="alert alert-danger text-center center error-noti" role="alert">
                    <div class="d-inline-flex">
                        <h4><i class="bi bi-x-circle-fill"></i> <span>&nbsp;</span> </h4>
                        <h5>{{this.msg}}</h5>
                    </div>
                    <button type="button" class="btn btn-sm btn-danger" data-bs-dismiss="alert" aria-label="Close">OK</button>
                </div>
                {{else}}
                <div class="alert alert-success text-center center create-confirm" role="alert">
                    <div class="d-inline-flex">
                        <h4><i class="bi bi-cursor-fill"></i> <span>&nbsp;</span> </h4>
                        <h5>{{this.msg}}</h5>
                    </div>
                    <button type="button" class="btn btn-sm btn-success" data-bs-dismiss="alert" aria-label="Close">OK</button>
                </div>

                {{/if}}
            {{/if}}
        </div>

        <div class='container'>
            <div class="blob topleft-pos"></div>
            <div class="blob botright-pos"></div>
            <div class="container ">
                <form method="post" action="/users/me" class="profile-width position-absolute top-50 start-50 translate-middle p-4 custom-form box-shadow">
                    <div class="row text-center mb-3 info-color ">
                        <i class="bi bi-person-square heading-size" style="font-size: 34px;"></i>
                    </div>

                    <div class="row mb-3 bg-light p-2 mx-2 box-shadow">
                        <div class="col-4 fs-5 fw-semibold info-color text-center d-flex align-items-center ">
                            <i class="bi bi-person-fill-gear">
                                Thông tin tài khoản
                            </i>
                        </div>
                        <div class="col-8">
                            <div class="row">
                            <div class="col-6">
                                 <label for="txtTdn" n class="form-label fw-semibold black-color">Username:</label>
                            <input type="text" class="form-control  mb-2" id="txtTdn" name="username" value={{authUser.username}} disabled>
                            <a href="/auth/reset-password" class="btn btn-sm btn-link fw-semibold">Đổi mật khẩu</a>
                            </div>

                            <div class="col-6">
                                <label for="txtTdn" class="form-label fw-semibold black-color">Khu vực quản lí</label>
                                <input type="text" class="form-control form-control-sm mb-2" id="txtTdn" name="tdn" value="Phường Cầu Ông Lãnh" disabled>
                            </div>
                            </div>
                        </div>
                    </div>

                    <div class="row mb-3 bg-light p-2 mx-2 box-shadow">
                        <div class="col-4 fs-5 fw-semibold info-color text-center d-flex align-items-center ">
                            <i class="bi bi-person-vcard">
                                Thông tin cá nhân
                            </i>
                        </div>
                      <div class="col-8">
                        <label for="txtName" class="form-label fw-semibold black-color">Họ và tên</label>
                        <input type="text" class="form-control form-control-sm mb-2" id="txtName" name="fullName" value="{{authUser.fullName}}">
                        
                        <label for="txtDob" class="form-label fw-semibold black-color">Ngày sinh</label>
                        <input type="text" class="form-control form-control-sm mb-2" id="txtDob" name="birthDate" value="{{authUser.birthDate}}">
                        
                        <label for="txtEmail" class="form-label fw-semibold black-color">Email</label>
                        <input type="email" class="form-control form-control-sm mb-2" id="txtEmail" name="email" value="{{authUser.email}}" disabled>
                        
                        <label for="txtPhone" class="form-label fw-semibold black-color">Số điện thoại</label>
                        <input type="text" class="form-control form-control-sm mb-2" id="txtPhone" name="phoneNumber" value="{{authUser.phoneNumber}}">
                    </div>

                    </div>
                    {{#if err_message}}
                        {{> errorNotif err_message=err_message}}
                    {{/if}}


                    {{#if success_message}}
                        {{> successNotification success_message=success_message}}
                    {{/if}}
                  
                    <div class="row">
                        <div class="col-12 text-center fw-semibold">
                            <a href="/" class="btn btn-outline-primary me-2">
                                <i class="bi bi-house-door-fill"></i>
                                Về trang chủ
                            </a>
                            {{!-- <li><a class="dropdown-item m-0"  href="javascript: $('#frmLogout').submit()">Đăng xuất</a></li> --}}
                            <button id="saveButton" type="submit" class="btn btn-primary">Lưu</button>

                        </div>
                    </div>
                </form>
            </div>


        </div>

        <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js'></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"></script>
        <script>
            
                $('#txtDob').datetimepicker({
        timepicker: false,
        format: 'd/m/Y',
        mask: true
    });

    // Assuming authUser.birthDate is in the format 'yyyy-mm-dd'
    const birthDate = new Date('{{authUser.birthDate}}'); // Replace '{{authUser.birthDate}}' with your server-side value

    const formattedDate = `${('0' + birthDate.getDate()).slice(-2)}/${('0' + (birthDate.getMonth() + 1)).slice(-2)}/${birthDate.getFullYear()}`;

    $('#txtDob').val(formattedDate);
        </script>   
    </body>
</html>