{{#section 'js'}}
{{/section}}

<div class="container-fluid p-4 pt-4">
    <div class="card-container mt-4">
        <div class="card">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h5 class="blue-heading">Danh sách cấp phép tại Quận X</h5>
                    <select class="form-select form-select-sm blue-sort-btn" aria-label=".form-select-sm example">
                    <option selected>Phường</option>
                    <option value="1">Cầu Ông Lãnh</option>
                    <option value="2">Bến Thành</option>
                    <option value="3">Bến Nghé</option>
                    </select>
            </div>
            {{#if this.empty}}
            <div class="card-body">
                Không có dữ liệu
            </div>
            {{else}}
            <table class="table table-hover align-middle">
                <thead class="align-middle text-center">
                    <tr>
                    <th class="col-0.5" scope="col">STT</th>
                    <th class="col-2" scope="col">Thông tin quảng cáo</th>
                    <th class="col-3" scope="col">Nội dung</th>
                    <th class="col-1" scope="col">Công ty <br> đặt QC</th>
                    <th class="col-2" scope="col">Thông tin công ty</th>
                    <th scope="col-1">Ngày <br> bắt đầu</th>
                    <th scope="col-1">Ngày <br> kết thúc</th>  
                    <th scope="col-1">Trạng thái</th>  
                    <th scope="col-0.5">&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each licenseList}}
                        <tr class="card-info-row">
                            <td class="text-center">{{LicenseID}}</td>
                            <td>
                                <ul>
                                    <li>Trụ, cụm pano</li>
                                    <li>Địa chỉ: </li>
                                </ul>
                            </td>
                            <td>
                                <ul>
                                    <li>Kích thước: </li>
                                    <li>Số lượng: </li>
                                    <li>Hình thức: </li>
                                    <li>Phân loại: </li>
                                    <li><a href="">Link hình ảnh</a></li>
                                </ul>
                            </td>
                            <td class="text-center">{{LicenseCompany}}</td>
                            <td>
                                <ul>
                                    <li>Địa chỉ: </li>
                                    <li>Email: </li>
                                    <li>SĐT: </li>
                                </ul>
                            </td>
                            <td class="text-center">{{LicenseBeginDate}}</td>
                            <td class="text-center">{{LicenseEndDate}}</td>
                            <td class="text-center"><button class="btn btn-sm btn-readonly">{{LicenseState}}</button></td>
                            <td class="text-center"><a class="btn-delete" href="/"><i class="bi bi-trash-fill h4" style="color: #8C8C8C"></i></a></td>
                        </tr>
                    {{/each}}
                </tbody>
            </table>
            {{/if}}
            <div class="card-footer text-muted d-flex align-items-center justify-content-between">
                <p>
                    Hiển thị {{limit}} trên {{totalPages}} mục
                </p>
                <ul class="pagination">
                    <li class="page-item"><a class="page-link" href="#">Trước</a></li>
                    {{#each this.pageNumbers}}
                    {{#if isActive}}
                        <li class="page-item active" aria-current="page">
                        <a class="page-link" href="#">{{value}}</a>
                        </li>
                        {{else}}
                        <li class="page-item">
                        <a class="page-link" href="?page={{value}}">{{value}}</a>
                        </li>
                        {{/if}}
                    {{/each}}
                    <li class="page-item"><a class="page-link" href="#">Sau</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>